<!--
  Generated template for the SummaryGraphsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-navbar>
    <ion-title>summary-graphs</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding>

<ion-select style="background-color: silver;max-width: 100%;" [(ngModel)]="group"  (ionChange)="setvalues()">
  <ion-option value="today">{{"Today"|translate}}</ion-option>
  <!-- <ion-option value="week">This Week</ion-option> -->
  <ion-option value="last7">{{"Last 7 days"|translate}}</ion-option>
  <ion-option value="month">{{"This Month"|translate}}</ion-option>
  <ion-option value="last30">{{"Last 30 days"|translate}}</ion-option>
</ion-select>
<ion-item>
  <ion-row>
    <ion-col col-6 style="text-align: left;">{{"Revenue"|translate}}:</ion-col>
    <ion-col col-6 style="text-align: end;">{{rev}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-6 style="text-align: left;">{{"Expenditure"|translate}}:</ion-col>
    <ion-col col-6 style="text-align: end;">{{exp}}</ion-col>
  </ion-row> <ion-row>
    <ion-col col-6 style="text-align: left;">{{"Profit"|translate}}:</ion-col>
    <ion-col col-6 style="text-align: end;">{{pro}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-6 style="text-align: left;">{{"Net Cashflow"|translate}}:</ion-col>
    <ion-col col-6 style="text-align: end;">{{netcash}}</ion-col>
  </ion-row>
</ion-item>
<button ion-button full round style="background-color: black; color: white;" (click)="toggleGL()" *ngIf="isgraph==1">View as List</button>
<button ion-button full round style="background-color: black; color: white;" (click)="toggleGL()" *ngIf="isgraph==0">View as Graph</button>


<div class="ion-padding" >
  <ion-card>
    <ion-card-header>
      {{"Bar Chart"|translate}}
    </ion-card-header>
    <ion-card-content>
      <canvas #barCanvas></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      {{"Line Chart"|translate}}
    </ion-card-header>
    <ion-card-content>
      <canvas #lineCanvas></canvas>
    </ion-card-content>
  </ion-card>
</div>


</ion-content>
