<!--
  Generated template for the IncomeTransactionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
 

    <ion-card >

      <ion-grid>
    <div *ngIf="showrec==true">
        <ion-row> <ion-col style="text-align: center; padding-top: 5px;"> {{userdata?userdata.business_name:null}}  </ion-col> </ion-row>

        <ion-row>
            <ion-col col-12 style="color: grey;  text-align: center"> {{userdata?userdata.business_address:null}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12 style="color: grey; text-align: center">  {{userdata?userdata.ph_no:null}}</ion-col>
        </ion-row>

            <ion-row style="padding-top: 5px;">
            <ion-col col-4 style="color: black; font-size: 1.0rem; text-align: center"><b>{{"Name" | translate}}</b></ion-col>
            <ion-col col-2 style="color: black; font-size: 1.0rem; text-align: center"><b>{{"Price"| translate}}</b></ion-col>
            <ion-col col-2 style="color: black; font-size: 1.0rem; text-align: center"><b>{{"Qty"| translate}}</b></ion-col>
            <ion-col col-3 style="color: black; font-size: 1.0rem; text-align: center"><b>{{"Subtotal"| translate}}</b></ion-col>
             </ion-row>
       

        <ion-list *ngFor="let item of datastore.itemslist; let i = index">
          <div style="border: solid 1px grey;">
          <ion-row>
            <ion-col col-9></ion-col>
              <ion-col col-1 style="color: black;  font-size: large; text-align: center;"><ion-icon name="add" style=" color: green" (click)="addQty(i)"></ion-icon></ion-col>
              <ion-col col-1 style="color: black;  font-size: large;  text-align: center;"><ion-icon name="remove" style=" color: red" (click)="removeQty(i)"></ion-icon></ion-col>
              <ion-col col-1 style="color: black;  font-size: large;  text-align: center;"><ion-icon name="close" style=" color: red" (click)="removeItem(i)"></ion-icon></ion-col>
          </ion-row>
          <ion-row >
              <ion-col col-4 style="color: black; text-align: center;">
                <div *ngIf="item.name=='Item'; else itemexist">
                  <button ion-button small (click)="addSingleProd(item,i)">{{"Choose"|translate}}</button>
                </div>
                <ng-template #itemexist>{{item.name}}</ng-template>
              </ion-col>
              <ion-col col-2 style="color: black;   text-align: center;">{{item.price}}</ion-col>
              <ion-col col-2 style="color: black;   text-align: center;">{{item.qty}}</ion-col>
              <ion-col col-3 style="color: black; text-align: center"><b>{{(item.price*item.qty)| number:0}}</b></ion-col>
             </ion-row>
          <ion-row>
            <ion-col col-4 style="color: grey">{{ 'Discount' | translate }} %</ion-col>
            <ion-col col-2 style="color: black;   text-align: center;">
              <ion-input type="number" [(ngModel)]="item.discount" (ionChange)="updateRec()" min="0" max="100"></ion-input>
            </ion-col>
            <ion-col col-2 style="color: black;   text-align: center;">
               {{(item.price*(item.discount)/100)| number:0}}
              </ion-col>
              <ion-col col-3 style="color: black;   text-align: center;">
                  {{(item.price*((100-item.discount))/100*item.qty)| number:0}}
                 </ion-col>
          </ion-row>
          <!-- <ion-row>
          <ion-col col-12 style="text-align: center"><ion-icon name="cut" style=" color: maroon"></ion-icon></ion-col>
          </ion-row> -->
        </div>
        </ion-list>

      </div>
      
        <ion-row>
            <ion-col col-6 style="text-align: center;"> <button ion-button style="font-size: 1.0rem;" (click)="addCalc()"> {{"Add from Calculator"|translate}}</button></ion-col>
            <ion-col col-6 style="text-align: center;"> <button ion-button style="font-size: 1.0rem;" (click)="addProdList()"> {{"Add from Product List"|translate}}</button></ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12 style="text-align: center;"> <button ion-button style="font-size: 1.0rem;" (click)="qrscan()"> {{"Scan Barcode"|translate}}</button></ion-col>
        </ion-row>

        <div *ngIf="showrec==true">
        <ion-row padding>
            <ion-col col-1></ion-col>  
          <ion-col col-4 style="text-align: center; font-size: 1.0rem; "><b>{{"Grand total:"|translate}}</b> </ion-col>
            <ion-col col-2 style="text-align: center; ">{{lastsumAfterIndividualDiscount}} </ion-col>
            <ion-col col-5></ion-col>
          </ion-row>


          <ion-row *ngIf="discbtn==0">
              <button ion-button small (click)="setDisc()">{{"Add Discount"|translate}}</button>
            </ion-row>
          <ion-row *ngIf="discbtn==1">
            <ion-col col-5>   <ion-label style="font-size: 1.0rem;">{{"Discount Rate %:"|translate}}</ion-label></ion-col>
            <ion-col col-7>
                <ion-input type="number" placeholder="အရေအတွက်" [(ngModel)]="discount" style="font-size: 1.3rem; " (input)="updateRec()" ngDefaultControl min="0" max="100">
                  </ion-input>
            </ion-col>       
          </ion-row>
          <ion-row *ngIf="discount!=0">
            <ion-col col-5 style="text-align: left; font-size: 1.0rem; ">{{"Discounted Total:"|translate}}</ion-col>
              <ion-col col-7 style="text-align: left; ">{{lastsumdisc}}</ion-col>
            </ion-row>
            <ion-row *ngIf="discbtn==1">
                <button ion-button small (click)="remDisc()">{{"Remove Discount"|translate}}</button>
              </ion-row>




            <ion-row *ngIf="taxbtn==0">
              <button ion-button small (click)="setTax()">{{"Add Tax"|translate}}</button>
            </ion-row>

            <ion-row *ngIf="taxbtn==1">
                <ion-col col-5>   <ion-label style="font-size: 1.0rem;">{{"Tax Rate %:"|translate}}</ion-label></ion-col>
                <ion-col col-7>
                    <ion-input type="number" placeholder="အရေအတွက်" [(ngModel)]="taxrate" style="font-size: 1.3rem;" (input)="updateRec()" ngDefaultControl min="0" max="100">
                      </ion-input>
                </ion-col>       
              </ion-row>
          <ion-row *ngIf="taxrate!=0">
            <ion-col col-5 style="text-align: left;font-size: 1.0rem; ">{{"Total after tax:"|translate}}</ion-col>
              <ion-col col-7 style="text-align: left; ">{{lastsumtax}}</ion-col>
            </ion-row>
            <ion-row *ngIf="taxbtn==1">
                <button ion-button small (click)="remTax()">{{"Remove Tax"|translate}}</button>
              </ion-row>
            </div>

      </ion-grid>
      </ion-card>
  <!-- Dynamically Generate All expense from backend - see feed from prev -->

  <ion-card padding >
   
          <ion-item>
          <span style="vertical-align: middle; display: inline-block; color: black; font-size: 1.0rem;" item-start>
              {{"Additional Charges"|translate}}
            </span>
             <ion-toggle color="dark" style="vertical-align: middle; display: inline-block" item-end (ionChange)="dispM()"></ion-toggle>
          
        </ion-item>
          

     
     
       <div *ngIf="displayManual==1;">
     
        <ion-item>
            <ion-label style="font-size: 1.0rem;">{{"Name"|translate}}</ion-label>
            <ion-input type="text" placeholder="{{'Enter Product Name'|translate}}" [(ngModel)]="newItemName" ngDefaultControl></ion-input>
          </ion-item>
          <ion-item>
              <ion-label style="font-size: 1.0rem;">{{"Price"|translate}}</ion-label>
              <ion-input  type="number" placeholder="{{'Enter Price'|translate}}" [(ngModel)]="newUnitPrice" ngDefaultControl></ion-input>
            </ion-item>
                <button ion-button style="font-size: 1.0rem;" full (click)="addNewItem()"> {{"Add Charges"|translate}} </button>
              </div>
  </ion-card>
  
        


</ion-content>


<ion-footer>
    <ion-grid>
        <ion-row>
          <ion-col col-4>
            <button ion-button full style="background-color:#FFAF00" (click)="saveRec()"> {{'SAVE '|translate}} <br> <ion-icon name="checkmark"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-4>
            <button ion-button full style="background-color:#FFAF00" (click)="printRec()"> {{'PRINT '|translate}} <br> <ion-icon name="print"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-4>
              <button ion-button full style="background-color:#FFAF00" (click)="cancelRec()"> {{'CANCEL '|translate}} <br>  <ion-icon name="close"></ion-icon>
              </button>
            </ion-col>
        </ion-row>
      </ion-grid>
</ion-footer>
