page-loan-home{

    .modal{
        position: absolute;
        overflow: hidden;
       max-width: 450px;
        border-radius: 2px;
        border: solid 1px black;
        width: 90%;
        height: 95%;
        top: 0;
        bottom: 0%;
        left: 0;
        right: 0;
        margin: auto;
        border: 0;
        box-shadow: 0 16px 20px rgba(0,0,0,.4);
        background-color: #fafafa;
    }
    ion-input{ border: solid 1px black; margin: 5px; }
    
}

