ion-card {
  ion-input {
    border: solid 1px black;
    margin: 5px;
  }
  ion-col.image {
    display: flex;
    ion-avatar img {
      border-radius: 10%;
    }
  }
}
.select-col {
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  ion-select {
    width: 100%;
    &.item-selected {
      width: 70%;
    }
  }
  ion-button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
  }
}

.option .col-6 {
  border: 1px solid var(--ion-color-magenta);
  border-radius: 15px;
  max-width: 100px;
  height: 120px;
}
