.logo {
    text-align: center;
    margin: 22px;
}

.logo img {
    height: 47px;
}

.title {
    text-align: center;
}

.title p {
    font-size: 18px;
    font-weight: bolder;
}

.description {
    text-align: center;
}

.buttons {
    text-align: center;
    border-radius: 6px;
    margin-bottom: 29px
}

.buttonIcon {
    float: left;
}

.facebookBtn {
    background-color: #3b5998;
    margin-top: 38px;
}

.mailBtn,
.callBtn {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}

.facebookBtn ion-icon {
    color: #fff;
}

.facebookBtn p {
    color: #fff;
}

.mailBtn ion-icon {
    color: red;
}

.mailBtn p {
    color: red;
}

.buttonIcon ion-icon {
    margin-top: 9px;
    margin-left: 9px;
    font-size: 21px;
}

.buttonTitle p {
    margin: 8px;
    margin-left: 17%;
}