<ion-content class="ion-padding">
    <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-card>
        <ion-card-content>
            <ion-row style="text-align: center;">
                <ion-col style="text-align: center;">
                    Your accounts between the dates
                </ion-col>

            </ion-row>

            <ion-grid>

                <ion-row>
                    <ion-col size="5" style="height: 10px; text-align: center; font-size: medium; color: black; border: 1px dashed gray; border-radius: 1rem; background-color: hsl(39, 100%, 68%);">
                        <ion-datetime [(ngModel)]="fromDate" [max]="toDate" (ionChange)="dateChange()"></ion-datetime>
                    </ion-col>
                    <ion-col size="2" style="text-align: center; font-size: large;">
                        to
                    </ion-col>
                    <ion-col size="5" style="height: 10px;text-align: center; font-size: medium; color: black;border: 1px dashed gray; border-radius: 1rem; background-color: hsl(39, 100%, 68%);">
                        <ion-datetime [(ngModel)]="toDate" [max]="toDate" (ionChange)="dateChange()"></ion-datetime>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-row>
                <ion-col size="6" style="text-align: left; font-size: medium;">{{"Revenue"|translate}}:</ion-col>
                <ion-col size="6" style="text-align: end;">{{rev|number:0}}</ion-col>
                <ion-col size="6" style="text-align: left; font-size: medium;">{{"Expenditure"|translate}}:</ion-col>
                <ion-col size="6" style="text-align: end;">{{exp|number:0}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6" style="text-align: left; font-size: medium;">{{"Profit"|translate}}:</ion-col>
                <ion-col size="6" style="text-align: end;">{{pro|number:0}}</ion-col>
                <ion-col size="6" style="text-align: left;">{{"Net Cashflow"|translate}}:</ion-col>
                <ion-col size="6" style="text-align: end;">{{rev+exp|number:0}}</ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
    <div style="text-align: center;">
        <div *ngIf="!((rev+exp)>=0)" style="color: red;"> {{"You have negative cash"|translate}} !</div>
    </div>
    <ion-button expand="block" size="large" color="success" (click)="applyLoan()" *ngIf="!userdata.isSubUser">
        <img src="assets/new-ui-imgs/icons/Mask Group 10.png" class="mr-3" alt="" width="30">{{"Apply for Loan"|translate}}
    </ion-button>

    <div [hidden]="isgraph == 0" *ngIf="!userdata.isSubUser">
        <ion-card>
            <ion-card-header>
                {{"Bar Chart"|translate}}
            </ion-card-header>
            <ion-card-content>
                <canvas #barCanvas></canvas>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                {{"Line Chart"|translate}}
            </ion-card-header>
            <ion-card-content>
                <canvas #lineCanvas></canvas>
            </ion-card-content>
        </ion-card>
    </div>


    <ion-grid>
        <div class="lastTransaction">
        </div>
        <ion-list lines="none" *ngFor="let transac of listtransac; let i = index">
            <ion-card>
                <ion-item (click)="expandTransac(transac)">
                    <ion-icon class="mr-3" name="checkmark-circle-outline" color="success" style="font-size: 27px;"></ion-icon>
                    <ion-label class="mr-6" *ngFor="let prod of transac.itemslist">
                        <p>{{prod.name}}</p>
                        <p>{{transac.updatedAt | date: 'dd/MM/yyyy'}}</p>
                    </ion-label>
                    <ion-label class="mr-3" style="text-align: right;">
                        {{transac.totalatax}}
                        <ion-icon class="ml-1" [hidden]="!transac.expanded" name="caret-down-outline"></ion-icon>
                        <ion-icon class="ml-1" [hidden]="transac.expanded" name="caret-up-outline"></ion-icon>
                    </ion-label>
                </ion-item>

                <ion-card [hidden]="transac.expanded">
                    <ion-list *ngFor="let item of transac.itemslist" [hidden]="transac.expanded">
                        <ion-row style="padding: 0px;">
                            <ion-col size="12"><span style="font-weight: bolder;">Name: </span> {{item.name}}</ion-col>
                            <ion-col size="12"><span style="font-weight: bolder;">Quantity: </span> {{item.qty}}</ion-col>
                            <ion-col size="12"><span style="font-weight: bolder;">Price: </span> {{item.price}}</ion-col>
                        </ion-row>
                    </ion-list>
                    <ion-row *ngIf="transac.totaldisc!=transac.totalsum" style="padding: 0px;text-align: left; " [hidden]="transac.expanded">
                        <ion-col>
                            {{"Discounted total:"|translate}} ({{transac.discount}}%)
                        </ion-col>
                        <ion-col size="3" style="text-align: end;">
                            {{transac.totaldisc}}
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="transac.totalsum!=transac.totalatax" style="padding: 0px; text-align: left;" [hidden]="transac.expanded">
                        <ion-col>
                            {{"Total after tax:"|translate}} ({{transac.taxrate}}%)
                        </ion-col>
                        <ion-col size="3" style="text-align: end;">
                            {{transac.totalatax}}
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col *ngIf="getDate(transac.datetime) == getDate(currentdatetime)">
                            <ion-button size="small" expand="full" color="magenta " (click)="delTransac(transac)">{{"Delete"|translate}}
                            </ion-button>
                        </ion-col>
                        <ion-col>
                            <ion-button size="small" expand="full" color="yellow" (click)="printRec(transac)">
                                {{'PRINT '|translate}} <br>
                                <ion-icon name="print"></ion-icon>
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-card>
            </ion-card>
        </ion-list>
    </ion-grid>
</ion-content>