<ion-content class="ion-padding">
    <!-- <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button color="yellow" (click)="openSheet()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab> -->
    <div class="pageTitle">
        <h4 style="font-weight: bolder;">Contacts</h4>
    </div>
    <!-- <hr> -->
    <div class="pageTitle">
        <h5>Track who owes you money</h5>
    </div>
    <ion-card class="totalBox" *ngIf="contactList&&contactList.length>0">
        <ion-row>
            <ion-col class="totalCol" size="6">
                Total Credit: <span style="color: red;">{{ totalUserCredit }}</span>
            </ion-col>
            <ion-col class="totalCol" size="6">
                Total Debit: <span style="color: green;">{{ totalUserDebit }}</span>
            </ion-col>
        </ion-row>
    </ion-card>
    <ion-row class="searchRow">
        <ion-col size="6" class="searchBar">
            <ion-icon name="search-outline"></ion-icon>
            <input type="text" [(ngModel)]="searchterm" (input)="filter()" placeholder="Search">
        </ion-col>
        <ion-col size="6" class="filter">
            <span class="seperator">|</span>
            <ion-select (ionChange)="sort($event)" value="1">
                <ion-select-option value="1" selected>A-Z</ion-select-option>
                <ion-select-option value="2">Z-A</ion-select-option>
                <ion-select-option value="3">High to Low</ion-select-option>
                <ion-select-option value="4">Low to High</ion-select-option>
            </ion-select>
        </ion-col>
    </ion-row>
    <ion-card class="headingCard">
        <ion-row style="font-weight: bolder;">
            <ion-col size="6">
                <div>
                    <ion-icon name="person-outline"></ion-icon>
                </div>
                <div>
                    <h6 style="font-weight: 800;">{{"Name"|translate}}</h6>
                </div>
            </ion-col>
            <ion-col size="6">
                <div>
                    <ion-icon name="wallet-outline"></ion-icon>
                </div>
                <div>
                    <h6 style="font-weight: 800;">{{"Balance"|translate}}</h6>
                </div>
            </ion-col>
        </ion-row>
    </ion-card>
    <div style="width: 100%; text-align: center;" *ngIf="!contactList || contactList.length==0 || filteredList.length === 0">
        <p>{{"No contacts"|translate}}!</p>
        <ion-card class="ion-padding">
            {{"Track which customers owe you money and how much they owe you using this page!"|translate}} <br><br> {{"Add a customer name/number and then enter in how much they owe you to keep a track."|translate}} <br><br> {{"We are soon releasing a
            send automatic SMS reminder feature and an option to see who owes you money on a particular date."|translate}}
        </ion-card>
    </div>
    <ion-card *ngFor="let contact of filteredList" class="headingCard dataCard" (click)="navToIndividual(contact)">
        <ion-row>
            <ion-col size="6">
                <div>
                    <p>{{ contact.displayName }}</p>
                </div>
            </ion-col>
            <ion-col size="6">
                <div>
                    <p style="color: red;" *ngIf="contact.balance<0; else nonNeg">{{ contact.balance }}</p>
                    <p style="color: green;" *ngIf="contact.balance>0; else zero" id="nonNeg">{{ contact.balance }}</p>
                    <p style="color: blue;" *ngIf="contact.balance==0" id="zero">0</p>
                </div>
            </ion-col>
        </ion-row>
    </ion-card>
</ion-content>

<bottom-sheet [(State)]="BottomSheetState" (StateChange)="StateChanged($event)">
    <div class="row m-0 py-5 option justify-content-around">
        <div class="col-4 py-3">
            <ion-fab-button color="magenta" class="m-auto" size="small" (click)="closeSheet(); navCredReminder()">
                <ion-icon name="notifications-outline"></ion-icon>
            </ion-fab-button><br>
            <ion-text class="font-weight-bold" style="position: absolute; bottom: 24px; left: 0; right: 0; text-align: center; margin: auto;">
                <small> Reminder</small>
            </ion-text>
        </div>
        <div class="col-4 py-3">
            <ion-fab-button color="magenta" class="m-auto" size="small" (click)="closeSheet(); navAdd(1)">
                <ion-icon name="call-outline"></ion-icon>
            </ion-fab-button><br>
            <ion-text class="font-weight-bold" style="position: absolute; bottom: 24px; left: 0; right: 0; text-align: center; margin: auto;">
                <small> {{"From Contacts"|translate}}</small>
            </ion-text>
        </div>
        <div class="col-4 py-3">
            <ion-fab-button color="magenta" class="m-auto" size="small" (click)="closeSheet(); navAdd(2)">
                <ion-icon name="settings-outline"></ion-icon>
            </ion-fab-button><br>
            <ion-text class="font-weight-bold" style="position: absolute; bottom: 24px; left: 0; right: 0; text-align: center; margin: auto;">
                <small> {{"Manually"|translate}}</small>
            </ion-text>
        </div>
    </div>
    <!-- <ion-row class="topCards">
        <ion-col size="4" (click)="navCredReminder()">
            <ion-card style="border: 1px solid rgb(99, 93, 93); border-radius: 10px;">
                <div class="cardIcons">
                    <ion-icon name="notifications-outline"></ion-icon>
                </div>
                <div class="cardText">
                    <p>Create Reminder</p>
                </div>
            </ion-card>
        </ion-col>
        <ion-col size="4" (click)="navAdd(1)">
            <ion-card style="border: 1px solid rgb(99, 93, 93); border-radius: 10px;">
                <div class="cardIcons">
                    <ion-icon name="call-outline"></ion-icon>
                </div>
                <div class="cardText">
                    <p>{{"From Contacts"|translate}}</p>
                </div>
            </ion-card>
        </ion-col>
        <ion-col size="4" (click)="navAdd(2)">
            <ion-card style="border: 1px solid rgb(99, 93, 93); border-radius: 10px;">
                <div class="cardIcons">
                    <ion-icon name="settings-outline"></ion-icon>
                </div>
                <div class="cardText">
                    <p>{{"Manually"|translate}}</p>
                </div>
            </ion-card>
        </ion-col>
    </ion-row> -->
</bottom-sheet>