<!-- <div class="modal"> -->
  <!-- <ion-header>
    <ion-toolbar color="dark">
      <h4 style="padding-left: 10px; color: white;">{{"Calculator"|translate}}</h4>
      <ion-buttons slot="end">
        <ion-button style="background-color: red; color: white" (click)="close()">{{"Close"|translate}}</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header> -->

  <ion-content>
    <!-- <ion-fab bottom right>
      <button ion-fab color="primary" item-right><ion-icon name="calculator"></ion-icon></button>
    </ion-fab> -->
    <!-- <ion-card *ngIf="showSampleRec==false">
      ကျေးဇူးပြုပြီးပစ္စည်းအတွက်ပမာဏကိုမြှောက်ပါ၊ ရှိပြီးသားငွေတောင်းခံလွှာကိုထည့်ရန်တူညီသောစာလုံးကိုနှိပ်ပါ။

        အလွတ်ပစ္စည်းပေါင်းများစွာကိုထည့်သွင်းလိုပါက * qty တစ်ခုချင်းစီကိုရိုက်ထည့်ပြီးနောက်တစ်ခုကိုရိုက်ထည့်ရန် + သင်္ကေတကိုနှိပ်ပါ
    </ion-card>
     -->
    <ion-grid class="p-0">
      <ion-row>
        <ion-col class="p-0">
          <div class="calculator">
            <div class="header">
              <div class="window"></div>
              <div class="input">
                <ion-row>
                  <ion-col size="10">
                    <div style="text-align: left; overflow-y: scroll; height: 80px;">
                      {{result}}
                    </div>
                  </ion-col>
                  <ion-col size="2">
                    <ion-icon name="backspace" (click)="btnClicked('b')"></ion-icon>
                  </ion-col>
                </ion-row>
              </div>
            </div>
            <div class="keys">
              <div class="row">
                <div class="number">
                  <span (click)="btnClicked('7')">7</span>
                  <span (click)="btnClicked('8')">8</span>
                  <span (click)="btnClicked('9')">9</span>
                </div>
                <div class="symbol">
                  <span (click)="btnClicked('*')">×</span>
                </div>
              </div>
              <div class="row">
                <div class="number">
                  <span (click)="btnClicked('4')">4</span>
                  <span (click)="btnClicked('5')">5</span>
                  <span (click)="btnClicked('6')">6</span>
                </div>
                <div class="symbol">
                  <span (click)="btnClicked('+')">+</span>
                </div>
              </div>
              <div class="row">
                <div class="number">
                  <span (click)="btnClicked('1')">1</span>
                  <span (click)="btnClicked('2')">2</span>
                  <span (click)="btnClicked('3')">3</span>
                </div>
                <div class="symbol">
                  <span (click)="btnClicked('/')">÷</span>
                </div>
              </div>
              <div class="row">
                <div class="number">
                  <span (click)="btnClicked('.')">.</span>
                  <span (click)="btnClicked('0')">0</span>
                  <span (click)="btnClicked('%')">%</span>
                </div>
                <div class="symbol">
                  <span (click)="btnClicked('-')">-</span>
                </div>
              </div>
              <div class="row m-0">
                <div class="number">
                  <div class="lastrow">
                    <span (click)="btnClicked('C')">{{"Clear"|translate}}</span>
                  </div>
                </div>
                <div class="symbol action">
                  <span (click)="btnClicked('=')">=</span>
                </div>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
<!-- </div> -->