<ion-content class="ion-padding">
    <div class="pageTitle">
        <h5>{{"Enter Information:" | translate}}</h5>
    </div>

    <div class="uploadPic" (click)="askCamera()">
        <h6 class="fieldTitle">{{"Upload Picture"|translate}}</h6>
        <ion-card style="margin-left: 0;--background:#f8f8f8;margin-right: 0;">
            <div class="dashedDiv">
                <ion-row>
                    <ion-col size="3">
                        <img src="../../assets/new-ui-imgs/icons/noun_Picture_3182777.png" alt="">
                    </ion-col>
                    <ion-col size="9">
                        <div class="uploadContent" *ngIf="!previewImage">
                            <p>{{"Upload Product Image"|translate}}</p>
                            <ion-icon name="camera-outline"></ion-icon>
                            <span>{{"Take picture"|translate}}</span>
                        </div>
                        <img *ngIf="previewImage!=null" [src]="previewImage" style="height: 66px;width: 78px;object-fit: contain;">
                    </ion-col>
                </ion-row>
            </div>
        </ion-card>
    </div>
    <div class="scanBarcode" (click)="scanQR()">
        <ion-row>
            <ion-col size="3">
                <img src="../../assets/new-ui-imgs/icons/noun_Scanner_2976066.png" alt="">
            </ion-col>
            <ion-col size="9">
                <div class="uploadContent">
                    <p>{{'Scan Barcode'| translate}}</p>
                </div>
            </ion-col>
        </ion-row>
    </div>
    <form [formGroup]="formProduct">
        <div class="inputDiv">
            <label for="">{{'Product Code:'| translate}}: </label>
            <ion-input formControlName="prodCode" [(ngModel)]='product.code'></ion-input>
        </div>
        <div class="inputDiv">
            <label for="">{{'Product Name:'| translate}} </label>
            <ion-input type="text" formControlName="prodName" [(ngModel)]='product.name'></ion-input>
        </div>
        <div class="inputDiv">
            <label for="">{{'Product Retail Price:'| translate}}</label>
            <ion-input type="number" formControlName="prodPrice" [(ngModel)]='product.price'></ion-input>
        </div>
        <div class="inputDiv">
            <label for="">{{'Product Wholesale Price:'| translate}} </label>
            <ion-input type="number" formControlName="prodWholesalePrice" [(ngModel)]='product.wholesale_price'></ion-input>
        </div>
        <div class="inputDiv">
            <label for="">{{'Product Buying Cost:'| translate}}</label>
            <ion-input type="number" formControlName="prodCost" [(ngModel)]='product.cost'></ion-input>
        </div>
        <!-- <div class="inputDiv">
            <label for="">{{'Current Stock Qty:'| translate}} </label>
            <ion-input type="number" formControlName="currstock" [(ngModel)]='product.stock_qty'></ion-input>
        </div> -->
        <div class="selectCat">
            <ion-row>
                <ion-col size="2">
                    <ion-icon name="grid-outline"></ion-icon>
                </ion-col>
                <ion-col size="10">
                    <ion-select multiple="false" formControlName="prodCat" [(ngModel)]='product.cat' placeholder="{{'Product Category' | translate}}">
                        <ion-select-option value="New"> {{'Add New Category'| translate}}</ion-select-option>
                        <ion-select-option *ngFor="let element of listCat" [value]="element.name">{{element.name}}</ion-select-option>
                    </ion-select>
                </ion-col>
            </ion-row>
        </div>
        <div class="inputDiv" *ngIf="prodCat=='New'">
            <label for="">{{'Enter New Category Name' | translate}} </label>
            <ion-input type="text" formControlName="newprodCat" [(ngModel)]='newprodCat'></ion-input>
        </div>
    </form>
    <div class="addProduct">
        <ion-row class="otherButtons">
            <ion-col size="4" (click)="goToUpdateStock()" style="color: var(--ion-color-yellow) !important">
                <p>{{ "Update Stock" | translate }}</p>
            </ion-col>
            <ion-col size="4" style="background-color: var(--ion-color-yellow) !important;color: #fff;" (click)="confirmDelete(product)">
                <p>{{'Delete Product'| translate}}</p>
            </ion-col>
            <ion-col size="4" (click)="discardChange()" style="color: var(--ion-color-yellow) !important">
                <p>{{"Cancel"|translate}}</p>
            </ion-col>
        </ion-row>
    </div>
    <div class="addProduct">
        <ion-row>
            <ion-col size="12">
                <ion-button extend="block" color="magenta" [disabled]="disabled" (click)="updateProduct()">
                    <ion-icon name="checkmark-circle" style="margin-right: 10px;"></ion-icon> {{'Update Product'| translate}}</ion-button>
            </ion-col>
        </ion-row>
    </div>
</ion-content>