// .alert-radio-group button:nth-child(1) .alert-radio-label:before {
//   content: url('assets/imgs/flags/gb.png');
// }

// .alert-radio-group button:nth-child(2) .alert-radio-label:before {
//   content: url('assets/imgs/flags/pt_BR.png');
// }

// .alert-radio-group button:nth-child(3) .alert-radio-label:before {
//   content: url('assets/imgs/flags/es.png');
// }

ion-header {
  background-color: #301924;
  color: white;
}

.input-cover {
  position: static;
}

#PhoneLogin {
  color: black;
}

ion-footer {
  background-color: black;
  color: silver;
  text-align: center;
}

ion-content {
  --background: transparent;
  .scroll-content {
    // background-image: url("…/../../../assets/imgs/bckground.jpg") ;
    // -webkit-background-size: cover;
    //   -moz-background-size: cover;
    //   -o-background-size: cover;
    //   background-size: cover;
    background-image: linear-gradient(#301924, #000000);
  }
}
.item-cover {
  width: 0;
  height: 0;
}

ion-input {
  text-align: center;
}

ion-icon {
  padding: 10px;
}

.intro {
  text-align: center;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 14px;
}

.btn_container {
  padding-top: 14px;

  button {
    background: #3b5998;
  }
}

.nametop {
  margin-top: 6rem;
  margin-bottom: 2rem;
  font-size: 3em;
  font-family: "Megrim";
  color: orange;
}
h1,
h6 {
  font-size: 1em;
}

.icon {
  display: flex !important;
  align-content: center !important;
  align-items: center !important;
}

.row-style {
  background-color: #fff;
  padding-left: 15px;
  border-radius: 30px;
}
