<ion-header>
    <ion-row class="py-3">
        <ion-title>
            Add Details From
        </ion-title>
    </ion-row>
</ion-header>
<hr class="m-0">
<ion-content>
    <ion-list lines="none">
        <ion-item (click)="selectOption('calc')">
            <ion-icon class="mr-3" name="add-circle-outline"></ion-icon>
            <ion-label>{{newMessage2}}</ion-label>
        </ion-item>
        <ion-item (click)="selectOption('prod')">
            <ion-icon class="mr-3" name="add-circle-outline"></ion-icon>
            <ion-label>{{newMessage4}}</ion-label>
        </ion-item>
        <ion-item (click)="selectOption('additional')">
            <ion-icon class="mr-3" name="add-circle-outline"></ion-icon>
            <ion-label>{{newMessage5}}</ion-label>
        </ion-item>
    </ion-list>
    <!-- <div class="itemsDiv">
        <ion-row>
            <ion-col size="3" id="icon">
                <ion-icon name="add-circle-outline"></ion-icon>
            </ion-col>
            <ion-col size="9" id="name">
                <p>{{newMessage2}}</p>
            </ion-col>
        </ion-row>
    </div>

    <div class="itemsDiv" (click)="addProdList()">
        <ion-row>
            <ion-col size="3" id="icon">
                <ion-icon name="add-circle-outline"></ion-icon>
            </ion-col>
            <ion-col size="9" id="name">
                <p>{{newMessage4}}</p>
            </ion-col>
        </ion-row>
    </div>

    <div class="itemsDiv" (click)="dispM()">
        <ion-row>
            <ion-col size="3" id="icon">
                <ion-icon name="add-circle-outline"></ion-icon>
            </ion-col>
            <ion-col size="9" id="name">
                <p>{{newMessage5}}</p>
            </ion-col>
        </ion-row>
    </div> -->

    <div class="scanBarcode itemsDiv" (click)="selectOption('barcode')">
        <ion-row>
            <ion-col size="3" id="icon">
                <img src="assets/new-ui-imgs/icons/noun_Scanner_2976066.png" alt="" height="26px">
            </ion-col>
            <ion-col size="9" id="name">
                <p>{{newMessage3}}</p>
            </ion-col>
        </ion-row>
    </div>

    <!-- <div class="cancelButton">
        <ion-row>
            <ion-col size="6">
            </ion-col>
            <ion-col size="6" id="cancel">
                <p>{{newMessage1}}</p>
            </ion-col>
        </ion-row>
    </div> -->
    <!-- <div class="cashBalance">
      <ion-row>
          <ion-col size="6" id="title">
              <p>{{newMs}}</p>
          </ion-col>
          <ion-col size="6" id="balance" *ngIf="userdata">
              <p>{{userdata.cash_balance}}</p>
          </ion-col>
      </ion-row>
  </div>

  <div class="bottomButtons">
      <ion-row>
          <ion-col size="6" id="edit" (click)="edit()">
              <p>Edit</p>
          </ion-col>
          <ion-col size="6" id="ok" (click)="DismissClick()">
              <p>Ok</p>
          </ion-col>
      </ion-row>
  </div> -->
</ion-content>
<ion-footer>
    <ion-row class="ion-justify-content-end">
        <ion-button fill="clear" color="lgrey" (click)="close()">{{newMessage1}}</ion-button>
    </ion-row>
</ion-footer>