<ion-content>
    <div class="pageTitle">
        <h5>Add Details From</h5>
    </div>
    <hr>

    <div class="itemsDiv" (click)="addCalc()">
        <ion-row>
            <ion-col size="3" id="icon">
                <ion-icon name="add-circle-outline"></ion-icon>
            </ion-col>
            <ion-col size="9" id="name">
                <p>{{newMessage2}}</p>
            </ion-col>
        </ion-row>
    </div>

    <div class="itemsDiv" (click)="addProdList()">
        <ion-row>
            <ion-col size="3" id="icon">
                <ion-icon name="add-circle-outline"></ion-icon>
            </ion-col>
            <ion-col size="9" id="name">
                <p>{{newMessage4}}</p>
            </ion-col>
        </ion-row>
    </div>

    <div class="itemsDiv" (click)="dispM()">
        <ion-row>
            <ion-col size="3" id="icon">
                <ion-icon name="add-circle-outline"></ion-icon>
            </ion-col>
            <ion-col size="9" id="name">
                <p>{{newMessage5}}</p>
            </ion-col>
        </ion-row>
    </div>

    <div class="scanBarcode itemsDiv" (click)="qrscan()">
        <ion-row>
            <ion-col size="3" id="icon">
                <img src="../../assets/new-ui-imgs/icons/noun_Scanner_2976066.png" alt="" height="26px">
            </ion-col>
            <ion-col size="9" id="name">
                <p>{{newMessage3}}</p>
            </ion-col>
        </ion-row>
    </div>

    <div class="cancelButton" (click)="goBack()">
        <ion-row>
            <ion-col size="6">
            </ion-col>
            <ion-col size="6" id="cancel">
                <p>{{newMessage1}}</p>
            </ion-col>
        </ion-row>
    </div>
</ion-content>