<ion-header>
    <ion-toolbar class="main-header" color="magenta">
        <ion-buttons slot="start" *ngIf="isBackEnable">
            <ion-back-button defaultHref="/home/income-transaction" (click)="backPress()"></ion-back-button>
        </ion-buttons>
        <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
        <ion-icon name="home-outline" class="homeIcon" (click)="openPopoverGrid()"></ion-icon>
        <!-- <ion-title size="large" color="light"> OPEN </ion-title> -->
        <ion-buttons slot="end">
            <ion-button (click)="openPopover($event)">
                <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-router-outlet></ion-router-outlet>
    <ion-tabs>
        <ion-tab-bar slot="bottom">
            <ion-tab-button tab="income-transaction">
                <ion-icon name="list"></ion-icon>
                <ion-label>{{'Receipt'|translate}}</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="contacts">
                <ion-icon name="people-circle-outline"></ion-icon>
                <ion-label>{{'Dues'|translate}}</ion-label>
            </ion-tab-button>

            <ion-fab-button color="yellow" edge (click)="addNewItem()">
                <ion-icon color="light" name="add"></ion-icon>
            </ion-fab-button>

            <ion-tab-button tab="transaction-product">
                <ion-icon name="grid"></ion-icon>
                <ion-label>{{'Stock'|translate}}</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="summary-graphs">
                <ion-icon name="wallet"></ion-icon>
                <ion-label>{{'Accounts'|translate}}</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
    <!-- <ion-fab horizontal="center" vertical="bottom" edge>
  </ion-fab> -->
</ion-content>
<bottom-sheet [(State)]="BottomSheetState" (StateChange)="StateChanged($event)">
    <div class="row m-0 py-5 option justify-content-around">
        <div class="col-4 py-3">
            <ion-fab-button color="magenta" class="m-auto" size="small" (click)="closeSheet(); navCredReminder()">
                <ion-icon name="notifications-outline"></ion-icon>
            </ion-fab-button><br>
            <ion-text class="font-weight-bold" style="position: absolute; bottom: 24px; left: 0; right: 0; text-align: center; margin: auto;">
                <small> Reminder</small>
            </ion-text>
        </div>
        <div class="col-4 py-3">
            <ion-fab-button color="magenta" class="m-auto" size="small" (click)="closeSheet(); navAdd(1)">
                <ion-icon name="call-outline"></ion-icon>
            </ion-fab-button><br>
            <ion-text class="font-weight-bold" style="position: absolute; bottom: 24px; left: 0; right: 0; text-align: center; margin: auto;">
                <small> {{"From Contacts"|translate}}</small>
            </ion-text>
        </div>
        <div class="col-4 py-3">
            <ion-fab-button color="magenta" class="m-auto" size="small" (click)="closeSheet(); navAdd(2)">
                <ion-icon name="settings-outline"></ion-icon>
            </ion-fab-button><br>
            <ion-text class="font-weight-bold" style="position: absolute; bottom: 24px; left: 0; right: 0; text-align: center; margin: auto;">
                <small> {{"Manually"|translate}}</small>
            </ion-text>
        </div>
    </div>
</bottom-sheet>
<bottom-sheet [(State)]="BottomSheetState1" (StateChange)="StateChanged($event)">
    <div class="row m-0 py-5 option justify-content-around">
        <div class="col-6 py-3">
            <ion-fab-button color="magenta" class="m-auto" size="small" (click)="navAddT(2)">
                <ion-icon name="exit-outline"></ion-icon>
            </ion-fab-button><br>
            <ion-text class="font-weight-bold" style="position: absolute; bottom: 0; left: 0; right: 0; text-align: center; margin: auto;">
                <small> Add New Category</small>
            </ion-text>
        </div>
        <div class="col-6 py-3">
            <ion-fab-button color="magenta" class="m-auto" size="small" (click)="navAddT(1)">
                <ion-icon name="card-outline"></ion-icon>
            </ion-fab-button><br>
            <ion-text class="font-weight-bold" style="position: absolute; bottom: 0; left: 0; right: 0; text-align: center; margin: auto;">
                <small> Add New Product</small>
            </ion-text>
        </div>
    </div>
</bottom-sheet>
<bottom-sheet [(State)]="BottomSheetState2" (StateChange)="StateChanged($event)">
    <ion-row class="ion-justify-content-center">
        <ion-text color="magents">
            {{'Receipt Options'}}
        </ion-text>
    </ion-row>
    <div class="row m-0 py-5 option justify-content-around">
        <div class="col-4 py-3">
            <ion-fab-button color="magenta" class="m-auto" size="small" (click)="closeSheet(); addNewItembtn()">
                <ion-icon name="apps"></ion-icon>
            </ion-fab-button><br>
            <ion-text class="font-weight-bold"
                style="position: absolute; bottom: 24px; left: 0; right: 0; text-align: center; margin: auto;">
                <small> Add New Sale</small>
            </ion-text>
        </div>
        <div class="col-4 py-3">
            <ion-fab-button color="magenta" class="m-auto" size="small" (click)="closeSheet(); addNewExp()">
                <ion-icon name="exit-outline"></ion-icon>
            </ion-fab-button><br>
            <ion-text class="font-weight-bold"
                style="position: absolute; bottom: 0; left: 0; right: 0; text-align: center; margin: auto;">
                <small> Add New Expense</small>
            </ion-text>
        </div>
        <div class="col-4 py-3">
            <ion-fab-button color="magenta" class="m-auto" size="small" (click)="closeSheet(); editRecTop()">
                <ion-icon name="card-outline"></ion-icon>
            </ion-fab-button><br>
            <ion-text class="font-weight-bold"
                style="position: absolute; bottom: 0; left: 0; right: 0; text-align: center; margin: auto;">
                <small> Edit Business Card</small>
            </ion-text>
        </div>
    </div>
</bottom-sheet>