<!-- <div class="modal"> -->
<ion-header>
  <ion-toolbar color="magenta">
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="close()">{{"Close"|translate}}</ion-button>
    </ion-buttons>
    <ion-title>{{'Add New Expenses' | translate}}</ion-title>
    <ion-title><small>{{"Add non-inventory expense"|translate}}</small></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-item>
    <b>:</b>
  </ion-item> -->

  <ion-list inset="true">
    <ion-card class="p-0" *ngFor="let item of listOfExpenses; let i = index">
      <ion-card-header>
        <ion-row [hidden]="item.flag">
          <ion-col size="12">
            <ion-label style="color: red;">
              {{"Invalid! Some required fields are empty"|translate}}
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-chip color="magenta">
              <ion-label>
                <small><b>{{"Expense"|translate}} #{{ i + 1 }}</b></small>
              </ion-label>
            </ion-chip>
          </ion-col>
          <ion-col>
            <ion-button color="magenta" fill="clear" size="small" (click)="removeExpense(i)"
              *ngIf="listOfExpenses.length!=1">
              <ion-icon slot="icon-only" name="trash-outline" class="mr-1"></ion-icon>
              <small>{{"Delete Expense"|translate}}</small>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <hr class="m-0">
      <ion-card-content>
        <ion-row>
          <ion-col>
            <div class="form-group">
              <ion-label>{{'Expense name'|translate}}</ion-label>
              <ion-input class="form-control" [(ngModel)]="item.name"></ion-input>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>{{'Expense Type'|translate}}</ion-label>
            <ion-select placeholder="{{'Expense Type'|translate}}" [(ngModel)]="item.type">
              <ion-select-option *ngFor="let itemType of expType1" value="{{itemType}}">{{itemType}}
              </ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="form-group">
              <ion-label>{{'Amount'|translate}}</ion-label>
              <ion-input class="form-control" type="number" [(ngModel)]="item.amount"></ion-input>
            </div>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="item.contact!=''">
          <ion-col style="padding-top: 15px; font-size: medium;">
            <small> Assigned to <b>{{ item.contact }}</b></small>
          </ion-col>
          <ion-col>
            <ion-button (click)="clearContact(item)" color="danger" shape="round" size="small" fill="outline">Remove
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button (click)="addContact(item)" fill="outline" expand="block" color="magenta"
              *ngIf="item.contact==''">
              <ion-icon slot="icon-only" name="add-circle-outline" class="mr-1"></ion-icon> Assign to Contact
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-button expand="block" color="magenta" (click)="addExpense()">{{"Add another expense"|translate}}</ion-button>
  </ion-list>
</ion-content>

<ion-footer style="background-color: #ffffff">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="yellow" (click)="updateExpenses()">
          <ion-icon name="checkmark-circle-outline" class="mr-3"></ion-icon> {{"Update Expense"|translate}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
<!-- </div> -->