
<ion-content padding>

    <!-- <ion-card *ngFor="let item of videoLinks">
      <div *ngIf="item.lang==userlang">
      <ion-grid line>
   
          <ion-row style="padding-left: 10px;">
            <ion-col col-10 style="color: grey; font-size: 10px;"> {{item.date}} </ion-col>
            <ion-col col-2 style="text-align: center "><ion-icon name="bulb" style="color: green"></ion-icon> </ion-col>
   
        </ion-row>
        <ion-row style="padding-left: 10px;">
          <ion-col><h2><b> {{item.title}}</b></h2></ion-col>
        </ion-row>

      <ion-row style="padding-left: 15px; padding-bottom: 10px;">
          {{item.descrip}}              
      </ion-row>
      <ion-row>
        <iframe width="100%" [height]="item.height" id="player" [src]="linkValue(item.link)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </ion-row>
      </ion-grid>
    </div>
  
    </ion-card> -->

    <ion-card *ngFor="let item of vidlist; let i = index">
     
      <ion-grid line>
        <ion-row style="padding-left: 10px;" (click)="open(i)">
          <ion-col col-10><h2><b> {{item.heading}}</b></h2></ion-col>
          <ion-col col-2>
              <ion-icon name="arrow-dropdown" *ngIf="i!=openVid"></ion-icon>
              <ion-icon name="arrow-dropup" *ngIf="i==openVid"></ion-icon>
          </ion-col>
        </ion-row>

      <ion-row style="padding-left: 15px; padding-bottom: 10px;" [hidden]="i!=openVid">
          {{item.content}}              
      </ion-row>
      <ion-row [hidden]="i!=openVid">
        <iframe width="100%" [height]="315" id="player" [src]="linkValue(item.url)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </ion-row>
      </ion-grid>

  
    </ion-card>
<!--       
    <ion-card>
        <ion-grid line>
            <ion-row style="padding-left: 10px; padding-bottom: 5px; ">
              <ion-col col-10 style="color: grey; font-size: 10px;"> Thus, 12th October 2018 </ion-col>
              <ion-col col-2 style="text-align: center "><ion-icon name="bulb" style="color: green"></ion-icon> </ion-col>
            </ion-row>
            <ion-row style="padding-left: 10px; padding-bottom: 10px;">
              <ion-col><h2><b>Goal: Bulk Transaction</b></h2></ion-col>
            </ion-row>
    
          <ion-row style="padding-left: 15px; padding-bottom: 10px;">
              Record 15 transactions and get the ability to add miltiple products in one transaction entry!              
          </ion-row>
          <ion-row  style="background-color: #f0f0f0">
            <ion-col col-12 style="text-align: center ; background-color: indigo; color: palevioletred;">
                <b>Go</b>
            </ion-col>
 
          </ion-row>
        </ion-grid>
      </ion-card>  -->

      <!--<ion-card>
          <ion-grid line>
              <ion-row style="padding-left: 10px; padding-bottom: 5px; ">
                <ion-col col-10 style="color: grey; font-size: 10px;"> Thus, 12th October 2018 </ion-col>
                <ion-col col-2 style="text-align: center "><ion-icon name="bulb" style="color: green"></ion-icon> </ion-col>
              </ion-row>
              <ion-row style="padding-left: 10px; padding-bottom: 10px;">
                <ion-col><h2><b>Goal: Record Discounts</b></h2></ion-col>
              </ion-row>
      
            <ion-row style="padding-left: 15px; padding-bottom: 10px;">
                Record 25 transactions to add discounts to sales & expenses              
            </ion-row>
            <ion-row  style="background-color: #f0f0f0">
              <ion-col col-12 style="text-align: center ; background-color: indigo; color: palevioletred;">
                  <b>Go</b>
              </ion-col>
   
            </ion-row>
          </ion-grid>
        </ion-card> -->

</ion-content>
