<ion-content class="ion-padding">
    <div class="pageTitle">
        <ion-row>
            <ion-col>
                <h5>{{'View Categories' | translate}}</h5>
            </ion-col>
        </ion-row>
    </div>
    <div class="addCatInput">
        <ion-row>
            <ion-col size="10">
                <ion-input type="text" placeholder="{{'Enter Category Here'|translate}}" [(ngModel)]='newprodCat'></ion-input>
            </ion-col>
            <ion-col size="2" class="addButton" (click)="addCategory()">
                <div>
                    <ion-icon name="add-circle-outline"></ion-icon>
                </div>
            </ion-col>
        </ion-row>
    </div>

    <div class="pageSubTitle">
        <ion-row>
            <ion-col>
                <p>{{"Categories"|translate}}
                </p>
            </ion-col>
        </ion-row>
    </div>

    <div *ngFor="let element of listCat" class="categoryList">
        <div class="catTitle">
            <span>{{element.name}}</span>
        </div>
        <div class="catDelete">
            <ion-icon item-end name="close-circle" (click)="delCat(element)" color="danger"></ion-icon>
        </div>
    </div>
</ion-content>

<ion-footer>
    <ion-row class="doneButton">
        <ion-col size="1">
        </ion-col>
        <ion-col size="10">
            <ion-button color="yellow" (click)="goBack()">{{ "Done" | translate }}</ion-button>
        </ion-col>
        <ion-col size="1">
        </ion-col>
    </ion-row>
</ion-footer>