<!-- <ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Add Product</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding>
  <ion-item>
    <b>{{"Enter Information:" | translate}}</b>

  </ion-item>

  <ion-item>
    <button ion-button block color="primary" (click)="launchCamera()">{{'Take Picture' | translate}}</button>
    <img *ngIf="image!=null" [src]="image" style="width: 100px;">
  </ion-item>
  <ion-list inset>
    <button ion-button block color="primary" (click)="scanQR()" color="dark">{{'Scan Barcode'| translate}}</button>
    <ion-item>
      <ion-label>{{'Product Code:'| translate}}</ion-label>
      <ion-input type="text" [(ngModel)]='prodCode'></ion-input>
    </ion-item>
  <form [formGroup]="formProduct">
    
      <!-- <button ion-button full color="dark" (click)="getProdPic()">Upload Picture</button> -->
     
      <ion-item>
        <ion-label>{{'Product Name:'| translate}}</ion-label>
        <ion-input type="text" formControlName="prodName" [(ngModel)]='prodName'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{'Product Retail Price:'| translate}}</ion-label>
        <ion-input type="number" formControlName="prodPrice" [(ngModel)]='prodPrice'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{'Product Wholesale Price:'| translate}}</ion-label>
        <ion-input type="number" formControlName="prodWholesalePrice" [(ngModel)]='prodWholesalePrice'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{'Product Buying Cost:'| translate}}</ion-label>
        <ion-input type="number" formControlName="prodCost" [(ngModel)]='prodCost'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{'Current Stock Qty:'| translate}}</ion-label>
        <ion-input type="number" formControlName="currstock" [(ngModel)]='currstock'></ion-input>
      </ion-item>
      <!-- OPTIONAL EXPIRY/Shelf Life in time -->

      <ion-item>

        <ion-label>{{'Product Category' | translate}}</ion-label>
        <ion-select multiple="false" formControlName="prodCat" [(ngModel)]='prodCat'>

          <!-- <ion-option>New</ion-option> -->
          <ion-option value="New"> {{'Add New Category'| translate}}</ion-option>
          <ion-option *ngFor="let element of listCat" value="{{element.name}}">{{element.name}}</ion-option>

        </ion-select>

        <!-- <ion-label>Select Category</ion-label>
        <ion-select multiple="false" [(ngModel)]='prodCat'>
              <ion-option>New</ion-option>
              <ion-option>Snacks</ion-option>
              <ion-option>Drinks</ion-option>
              <ion-option>Noodles</ion-option>
        </ion-select> -->
      </ion-item>




      <ion-item *ngIf="prodCat=='New'">
        <ion-label>{{'Enter New Category Name' | translate}}</ion-label>
        <ion-input type="text" placeholder="{{'Enter Category Here' | translate}}" formControlName="newprodCat"
          [(ngModel)]='newprodCat'></ion-input>
      </ion-item>

    
  </form>
</ion-list>
  <button ion-button block color="primary" [disabled]="disabled" (click)="addproduct()"
    color="dark">{{'Add Product'| translate}}</button>
  <button ion-button block style="background-color: red; color: white;"
    (click)="clearFields()">{{"Clear Fields"|translate}}</button>


</ion-content>