<ion-content class="ion-padding">
    <ion-card>
        <div class="borderedCard">
            <div class="item">
                <ion-row>
                    <ion-col size="8">
                        <span class="title">Ken: </span>
                    </ion-col>
                    <ion-col size="4">
                        <span class="content" style="color: red;" *ngIf="contact.balance<0; else nonNeg">
                          {{ contact.balance }}
                        </span>
                        <span class="content" style="color: green;" *ngIf="contact.balance>0; else zero" id="nonNeg">
                          {{ contact.balance }}
                        </span>
                        <span class="content" style="color: blue;" *ngIf="contact.balance==0" id="zero">
                          0
                        </span>
                    </ion-col>
                </ion-row>
            </div>
            <div class="item">
                <ion-row>
                    <ion-col size="8">
                        <span class="title">Customer Discount: </span>
                    </ion-col>
                    <ion-col size="4">
                        <span class="content">0</span>
                    </ion-col>
                </ion-row>
            </div>
            <div class="item">
                <ion-row>
                    <ion-col size="8">
                        <span class="title">{{"Due Date"|translate}}: </span>
                    </ion-col>
                    <ion-col size="4">
                        <span class="content">
                          <ion-datetime [(ngModel)]="newDate" style="border: 1px solid black;" placeholder="{{'None'|translate}}" style="min-width: 30%;" [min]="minDate" [max]="maxDate">
                          </ion-datetime>
                        </span>
                    </ion-col>
                </ion-row>
            </div>
        </div>
    </ion-card>
    <ion-row>
        <ion-grid style="padding: 0px;">
            <ion-row style="text-align: center; font-weight: bold; font-size: 16px;">
                <ion-col class="table-col">
                    <p>{{"Date"|translate}}</p>
                </ion-col>
                <ion-col class="table-col">
                    <p>{{"Credit"|translate}}</p>
                </ion-col>
                <ion-col class="table-col">
                    <p>{{"Debit"|translate}}</p>
                </ion-col>
            </ion-row>
            <ion-row *ngFor="let val of contact.transacHistory" class="tableData">
                <ion-col>
                    <p>{{ getDateTime(val.date) }}</p>
                </ion-col>
                <ion-col style="text-align: center;">
                    <p *ngIf="val.amount<0" style="color: red;">{{ val.amount }}</p>
                </ion-col>
                <ion-col style="text-align: center;">
                    <p *ngIf="val.amount>0" style="color: green;">{{ val.amount }}</p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-row>

    <ion-row>
        <ion-col>
            <ion-button expand="block" class="addCredit" (click)="transaction(-1)">{{"Credit"|translate}}
            </ion-button>
        </ion-col>
        <ion-col>
            <ion-button expand="block" class="addDebit" (click)="transaction(1)">{{"Debit"|translate}}
            </ion-button>
        </ion-col>
    </ion-row>
</ion-content>
<ion-footer>
    <div class="footerButtons">
        <ion-row>
            <ion-col size="2">
            </ion-col>
            <ion-col size="8">
                <img src="../../assets/new-ui-imgs/icons/Group 151.png" (click)="delete()" />
                <img src="../../assets/new-ui-imgs/icons/Group 149.png" (click)="sendSMS()" />
                <img src="../../assets/new-ui-imgs/icons/Group 147.png" (click)="share()" />
            </ion-col>
            <ion-col size="2">
            </ion-col>
        </ion-row>
    </div>
</ion-footer>