p {
    margin: 0;
}

.table-col {
    padding: 3px;
    border: 0.75px solid #ddd;
}

.top-text {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
    font-weight: 600;
    font-size: 18px;
}

.borderedCard {
    border: 1px dashed;
    margin: 13px;
    border-radius: 8px;
}

span.content {
    float: right;
    margin-right: 3%;
}

.table-col p {
    margin: 4px;
}

ion-grid {
    border: none;
    margin: 9px;
}

ion-row.tableData {
    border-bottom: 1px solid #ddd;
}

.tableData p {
    padding: 10px 0;
    color: #747272;
    font-size: 14px;
    text-align: center;
}

ion-button.addDebit {
    --background: yellow;
}

ion-button.addCredit {
    --background: #2dd36f;
}

.footerButtons img {
    height: 45px;
    padding-left: 34px;
}

ion-input {
    --padding-top: 0;
    text-align: right;
}