.pageTitle {
    margin: 12px 0 20px 10px;
}

hr {
    border-top: 1px solid #000;
}

.mr-3 {
    border: 1px solid #ddd;
    padding: 8px 10px;
    border-radius: 50%;
    margin: 10px;
}

.mr-3 img {
    height: 20px;
}

#cancel p {
    float: right;
    margin: 20px;
}

.cancelButton {
    height: 64px;
}