<ion-content>
    <div class="pageTitle">
        <h5>{{"Select your printer"|translate}}</h5>
    </div>
    <hr>
    <ion-list>
        <ion-item (click)="selectDevice(device)" *ngFor="let device of printerList">
            <div class="mr-3">
                <img src="../../assets/new-ui-imgs/icons/noun_Printer_1573159.png" alt="">
            </div>
            <ion-label>{{device.name}}</ion-label>
        </ion-item>
    </ion-list>

    <div class="cancelButton" (click)="goBack()">
        <ion-row>
            <ion-col size="6">
            </ion-col>
            <ion-col size="6" id="cancel">
                <p>{{"CANCEL"|translate}}</p>
            </ion-col>
        </ion-row>
    </div>
</ion-content>