<!--
  Generated template for the ExpenseGeneralPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-navbar>
    <ion-title>expense-general</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content>
  <ion-item>
      <b>{{"Add non-inventory expense"|translate}}:</b> 
  </ion-item>

  <ion-list inset>
    <ion-card *ngFor="let item of listOfExpenses; let i = index">
      <ion-grid>
        <ion-row [hidden] = "item.flag">
          <ion-col col-12>
            <ion-label style="color: red;">
              {{"Invalid! Some required fields are empty"|translate}}
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-label style="font-size: 16px;">
              <b>{{"Expense"|translate}} #{{ i + 1 }}</b>
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-input placeholder="{{'Expense name'|translate}}" [(ngModel)]="item.name"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <ion-row>
            <ion-select placeholder="{{'Expense Type'|translate}}" [(ngModel)]="item.type">
              <ion-option *ngFor="let itemType of expType1" value="{{itemType}}">{{itemType}}</ion-option>
            </ion-select>
            </ion-row> 
          </ion-col>
          <ion-col col-6 align-self-end>
            <ion-item>
              <ion-input placeholder="{{'Amount'|translate}}" type="number" [(ngModel)]="item.amount"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <br>
        <!--<ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-textarea autogrow placeholder="Additional notes\n(optional)" [(ngModel)]="item.notes"></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
        <br>-->
        <ion-row justify-content-end>
          <button ion-button style="background-color: red; color: whitesmoke; float: right;" (click)="removeExpense(i)" *ngIf="listOfExpenses.length!=1">
            {{"Delete Expense"|translate}}
          </button>
        </ion-row>
      </ion-grid>
    </ion-card>
    <button ion-button style="float: right;" (click)="addExpense()">{{"Add another expense"|translate}}</button>
  </ion-list>
</ion-content>

<ion-footer style="background-color: #ffffff">
  <ion-grid>
    <ion-row>
      <ion-col>
          <button ion-button full style="background-color: #FFA500" (click)="updateExpenses()">{{"Update Expense"|translate}}</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>