<!-- <ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Update Product</ion-title>
  </ion-navbar> 
</ion-header> -->

<ion-content padding>
  <ion-buttons end>
    <button ion-button style="background-color: red;" (click)="goBack()">{{ "Cancel" | translate}}</button>
  </ion-buttons>
  <form [formGroup]="formProduct">
    <ion-list inset>

      <!-- <ion-item>
        <ion-label>Photo</ion-label>
            <ion-input type="number" [(ngModel)]='product.price'></ion-input>
        </ion-item> -->
        
      <ion-item>
        <button ion-button (click)="launchCamera()">{{'Take Picture' | translate}}</button>
        <img *ngIf="image!=null" [src]="image" style="width: 100px;">
      </ion-item>
      <button ion-button block color="primary" (click)="scanQR()">{{'Scan Barcode'| translate}}</button>

      <ion-item>
        <ion-label>{{'Product Code:'| translate}}</ion-label>
        <ion-label style="color: red; font-size: 25px;" *ngIf="isProdCode000000"><b>!</b></ion-label>
        <ion-input type="text" formControlName="prodCode" [(ngModel)]='product.code'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{'Product Name:'| translate}}</ion-label>
        <ion-input type="text" formControlName="prodName" [(ngModel)]='product.name'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{'Product Retail Price:'| translate}}</ion-label>
        <ion-input type="number" formControlName="prodPrice" [(ngModel)]='product.price'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{'Product Wholesale Price:'| translate}}</ion-label>
        <ion-input type="number" formControlName="prodWholesalePrice" [(ngModel)]='product.wholesale_price'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{'Average Buying Cost:'| translate}}</ion-label>
        <ion-input type="number" formControlName="prodCost" [(ngModel)]='product.cost'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{'Current Stock Qty:'| translate}}</ion-label>
        <ion-input type="number" formControlName="currstock" [(ngModel)]='product.stock_qty'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{'Product Category' | translate}}</ion-label>
        <ion-select multiple="false" formControlName="prodCat" [(ngModel)]='product.cat'>
          <ion-option *ngFor="let element of listCat" value="{{element.name}}">{{element.name}}</ion-option>
        </ion-select>
      </ion-item>




    </ion-list>
  </form>
  <button ion-button block color="primary" [disabled]="disabled" (click)="updateProduct()">{{'Update Product'| translate}}</button>
  <button ion-button block style="color: whitesmoke; background-color: gray;" (click)="discardChange()">{{"Discard Changes"|translate}}</button>
  <button ion-button block color="danger" [disabled]="disabled" (click)="deleteproduct(product)">{{'Delete Product'| translate}}</button>
</ion-content>
