<ion-content class="ion-padding">
    <!--   
    <ion-button expand="full" style="font-size: 1.2rem;" (click)="printLogo()" style="background-color: green; color: white;" shape="round"> Print Logo</ion-button> -->

    <div *ngIf="showrec==false">
        <ion-row>
            <ion-col class="ion-align-self-center">
                <ion-text class="font-weight-bolder">{{"Receipt"|translate}}</ion-text>
            </ion-col>
            <ion-col size="2">
                <ion-button (click)="addCalc()" color="yellow">
                    <ion-icon slot="icon-only" name="calculator" style="font-size: 30px;"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-button expand="block" size="large" color="success" (click)="openSheet()">
           Create Receipt
        </ion-button>
        <ion-button expand="block" size="large" color="yellow" (click)="showPrevRec()">
            Previous Receipt
        </ion-button>
    </div>
    <ion-card *ngIf="showrec==true" class="m-0" id="imageConvert">
        <ion-card-header>
            <ion-row>
                <ion-col size="3">
                    <ion-avatar>
                        <img class="img-fluid" [src]="userdata?userdata.logo_url:''" id="userLogo">
                    </ion-avatar>
                </ion-col>
                <ion-col id="userDetails">
                    <ion-row class="ion-justify-content-between">
                        <ion-col>
                            <p>{{userdata?userdata.business_name:null}}</p>
                            <small> {{userdata?userdata.business_address:null}} </small>
                        </ion-col>
                        <ion-col>
                            <ion-chip color="warning">
                                <ion-label>
                                    {{userdata?userdata.businesstype:null}}
                                </ion-label>
                            </ion-chip>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <small> {{userdata?userdata.ph_no:null}}</small>
                        </ion-col>
                        <ion-col>
                            <small> <b>{{ getDateTime(datetime) }}</b></small>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-card-header>
        <hr style="border: 1px dashed grey;">
        <ion-card-content class="p-0">
            <table class="table" style="font-size: 10px;">
                <thead>
                    <tr>
                        <th><b>{{"Name" | translate}}</b></th>
                        <th width="20%"><b>{{"Price"| translate}}</b></th>
                        <th width="30%"><b>{{"Qty"| translate}}</b></th>
                        <th width="15%"><b>{{"Subtotal"| translate}}</b></th>
                        <th width="5%"></th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of datastore.itemslist; let i = index">
                    <tr>
                        <td style="padding: 14px 0px;" *ngIf="item.name.includes('Item'); else itemexist">
                            <ion-button color="magenta" fill="outline" size="small" (click)="addSingleProd(item,i)"
                                style="margin: 0;font-size: 10px;">
                                {{"Choose"|translate}}</ion-button>
                        </td>
                        <ng-template #itemexist>
                            <td>{{item.name}}</td>
                        </ng-template>

                        <td width="20%">{{item.price}}</td>
                        <td class="px-0" width="30%">
                            <ion-row class="reciept-row" style="border: 1px solid;">
                                <ion-button class="add" size="small" (click)="addQty(i)" fill="clear" color="success">
                                    <ion-icon slot="icon-only" name="add-circle"></ion-icon>
                                </ion-button>
                                <ion-input class="qtyInput" type="number" [(ngModel)]='item.qty' [min]="0" readonly>
                                </ion-input>
                                <ion-button class="remove" size="small" (click)="removeQty(i)" fill="clear"
                                    color="danger">
                                    <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
                                </ion-button>
                            </ion-row>
                        </td>
                        <td width="15%" class="text-right">{{(item.price*item.qty)| number:0}}</td>
                        <td width="5%">
                            <ion-icon style="font-size: 20px;" name="close-circle-outline" color="danger"
                                (click)="removeItem(i)">
                            </ion-icon>
                        </td>
                    </tr>
                    <tr>
                        <td>{{ 'Discount' | translate }} %</td>
                        <td class="p-0">
                            <ion-input class="form-control" type="number" [(ngModel)]="item.discount"
                                (ionChange)="updateRec()" min="0" max="100">
                            </ion-input>
                        </td>
                        <td>
                            {{(item.qty*item.price*(item.discount)/100)| number:0}}
                        </td>
                        <td class="text-right">
                            <b>{{(item.price*((100-item.discount))/100*item.qty)| number:0}}</b>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td colspan="2"><b>{{"Grand total:"|translate}}</b></td>
                        <td colspan="2" class="text-right">{{lastsumAfterIndividualDiscount}}</td>
                        <td></td>
                    </tr>
                    <tr *ngIf="discbtn==1">
                        <td><b>{{"Disc. %:"|translate}}</b></td>
                        <td class="p-0">
                            <ion-input class="form-control" type="number" name="discount" [(ngModel)]="discount"
                                (change)="updateRec()" min="0" max="100">
                            </ion-input>
                        </td>
                        <td></td>
                        <td>
                            {{lastsumdisc}}
                        </td>
                        <td>
                            <ion-icon style="font-size: 16px;" name="close" color="danger" (click)="remDisc()">
                            </ion-icon>
                        </td>
                    </tr>
                    <tr *ngIf="taxbtn==1">
                        <td><b>{{"Tax %:"|translate}}</b></td>
                        <td class="p-0">
                            <ion-input class="form-control" type="number" name="taxrate" [(ngModel)]="taxrate"
                                (change)="updateRec()" min="0" max="100">
                            </ion-input>
                        </td>
                        <td></td>
                        <td>
                            {{lastsumtax}}
                        </td>
                        <td>
                            <ion-icon style="font-size: 16px;" name="close" color="danger" (click)="remTax()">
                            </ion-icon>
                        </td>
                    </tr>
                    <tr *ngIf="contact!=''">
                        <td colspan="2">{{"Assign to Contact" | translate}}:</td>
                        <td colspan="2" class="text-right">{{ contact }}</td>
                        <td>
                            <ion-icon style="font-size: 16px;" name="close" color="danger" (click)="clearContact()">
                            </ion-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="showrec==true">
                <ion-row class="ion-justify-content-center">
                    <ion-button expand="block" (click)="addNewItembtn()" color="magenta">
                        <ion-icon slot="icon-only" name="add-circle-outline" class="mr-3"></ion-icon>
                        {{"Add New Item"|translate}}
                    </ion-button>
                </ion-row>
                <br><br>
                <ion-row class="ion-justify-content-center">
                    <ion-col>
                        <ion-button style="font-size: 10px; width: 100%;" color="magenta" fill="outline" size="small"
                            (click)="setDisc()" [disabled]="discbtn!=0">
                            <ion-icon slot="icon-only" name="add-circle-outline" class="mr-1"></ion-icon>
                            {{"Discount"|translate}}
                        </ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button style="font-size: 10px; width: 100%;" color="magenta" fill="outline" size="small"
                            (click)="addContact()" [disabled]="contact!=''">
                            <ion-icon slot="icon-only" name="add-circle-outline" class="mr-1"></ion-icon>
                            {{"Contact"|translate}}
                        </ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button style="font-size: 10px; width: 100%;" color="magenta" fill="outline" size="small"
                            (click)="setTax()" [disabled]="taxbtn!=0">
                            <ion-icon slot="icon-only" name="add-circle-outline" class="mr-1"></ion-icon>
                            {{"Tax"|translate}}
                        </ion-button>
                    </ion-col>
                </ion-row>
            </div>
        </ion-card-content>

        <!-- <ion-row style="padding-top: 5px;">
      <ion-col style="color: black; font-size: 1.0rem;"><b>{{"Name" | translate}}</b></ion-col>
      <ion-col style="color: black; font-size: 1.0rem;"><b>{{"Price"| translate}}</b></ion-col>
      <ion-col style="color: black; font-size: 1.0rem;"><b>{{"Qty"| translate}}</b></ion-col>
      <ion-col style="color: black; font-size: 1.0rem;"><b>{{"Subtotal"| translate}}</b></ion-col>
    </ion-row>
    <ion-list *ngFor="let item of datastore.itemslist; let i = index">
      <div style="border: solid 1px grey;">
        <ion-row>
          <ion-col size="9"></ion-col>
          <ion-col>
            <ion-icon name="add" color="success" (click)="addQty(i)"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-icon name="remove" color="danger" (click)="removeQty(i)"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-icon name="close" color="danger" (click)="removeItem(i)"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="color: black; text-align: center;">
            <div *ngIf="item.name.includes('Item'); else itemexist">
              <ion-button size="small" (click)="addSingleProd(item,i)">{{"Choose"|translate}}</ion-button>
            </div>
            <ng-template #itemexist>{{item.name}}</ng-template>
          </ion-col>
          <ion-col style="color: black; text-align: center;">{{item.price}}</ion-col>
          <ion-col style="color: black; text-align: center;">{{item.qty}}</ion-col>
          <ion-col style="color: black; text-align: center">{{(item.price*item.qty)| number:0}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="color: grey; text-align: center;">{{ 'Discount' | translate }} %</ion-col>
          <ion-col style="color: black; text-align: center;">
            <ion-input type="number" [(ngModel)]="item.discount" (ionChange)="updateRec()" min="0" max="100">
            </ion-input>
          </ion-col>
          <ion-col style="color: black; text-align: center;">
            {{(item.qty*item.price*(item.discount)/100)| number:0}}
          </ion-col>
          <ion-col style="color: black; text-align: center;">
            <b>{{(item.price*((100-item.discount))/100*item.qty)| number:0}}</b>
          </ion-col>
        </ion-row>
      </div>
    </ion-list>
    <ion-row>
      <ion-col style="text-align: center; font-size: 1.5rem; "><b>{{"Grand total:"|translate}}</b>
      </ion-col>
      <ion-col></ion-col>
      <ion-col style="text-align: center; ">{{lastsumAfterIndividualDiscount}} </ion-col>

    </ion-row> -->

        <!-- <ion-card padding *ngIf="displayManual==1;">
      <div *ngIf="displayManual==1;">
        <ion-item>
          <ion-label style="font-size: 1.0rem;">{{"Name"|translate}}</ion-label>
          <ion-input type="text" placeholder="{{'Enter Product Name'|translate}}" [(ngModel)]="newItemName"
            ngDefaultControl></ion-input>
        </ion-item>
        <ion-item>
          <ion-label style="font-size: 1.0rem;">{{"Price"|translate}}</ion-label>
          <ion-input type="number" placeholder="{{'Enter Price'|translate}}" [(ngModel)]="newUnitPrice"
            ngDefaultControl></ion-input>
        </ion-item>
        <ion-button style="font-size: 1.0rem;" expand="full" (click)="addNewItem()" shape="round">
          {{"Add Charges"|translate}}
        </ion-button>
      </div>
    </ion-card> -->
        <!-- <div *ngIf="showrec==true">
      <ion-row>
        <ion-button expand="block" (click)="addNewItembtn()" color="magenta">
          <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>{{"Add New Item"|translate}}
        </ion-button>
      </ion-row>
    </div> -->
        <!-- <ion-row>
          <ion-col size="12" style="text-align: center;"> <ion-button expand="full" style="font-size: 1.2rem;"
              (click)="addCalc()"> {{"Add from Calculator"|translate}}</ion-button></ion-col>
          <ion-col size="12" style="text-align: center;"> <ion-button expand="full" style="font-size: 1.2rem;"
              (click)="qrscan()"> {{"Scan Barcode"|translate}}</ion-button></ion-col>
  
          <ion-col size="12" style="text-align: center;"> <ion-button expand="full" style="font-size: 1.2rem;"
              (click)="addProdList()"> {{"Add from Product List"|translate}}</ion-button></ion-col>
          <ion-col size="12" style="text-align: center;"> <ion-button expand="full" style="font-size: 1.2rem;"
              (click)="dispM()"> {{"Add Additional Charges"|translate}}</ion-button></ion-col>
        </ion-row> -->
        <!-- <div *ngIf="showrec==true">
      <ion-row *ngIf="discbtn==0">
        <ion-button size="small" (click)="setDisc()" shape="round">{{"Add Discount"|translate}}</ion-button>
      </ion-row>
      <ion-row *ngIf="discbtn==1">
        <ion-col size="5">
          <ion-label style="font-size: 1.0rem;">{{"Discount Rate %:"|translate}}</ion-label>
        </ion-col>
        <ion-col size="7">
          <ion-input type="number" placeholder="အရေအတွက်" [(ngModel)]="discount" style="font-size: 1.3rem; "
            (input)="updateRec()" ngDefaultControl min="0" max="100">
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="discount!=0">
        <ion-col size="5" style="text-align: left; font-size: 1.0rem; ">{{"Discounted Total:"|translate}}</ion-col>
        <ion-col size="7" style="text-align: left; ">{{lastsumdisc}}</ion-col>
      </ion-row>
      <ion-row *ngIf="discbtn==1">
        <ion-button size="small" (click)="remDisc()" shape="round">
          {{"Remove Discount"|translate}}</ion-button>
      </ion-row>

      <ion-row *ngIf="taxbtn==0">
        <ion-button size="small" (click)="setTax()" shape="round">{{"Add Tax"|translate}}
        </ion-button>
      </ion-row>

      <ion-row *ngIf="taxbtn==1">
        <ion-col size="5">
          <ion-label style="font-size: 1.0rem;">{{"Tax Rate %:"|translate}}</ion-label>
        </ion-col>
        <ion-col size="7">
          <ion-input type="number" placeholder="အရေအတွက်" [(ngModel)]="taxrate" style="font-size: 1.3rem;"
            (input)="updateRec()" ngDefaultControl min="0" max="100">
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="taxrate!=0">
        <ion-col size="5" style="text-align: left;font-size: 1.0rem; ">{{"Total after tax:"|translate}}</ion-col>
        <ion-col size="7" style="text-align: left; ">{{lastsumtax}}</ion-col>
      </ion-row>
      <ion-row *ngIf="taxbtn==1">
        <ion-button size="small" (click)="remTax()" shape="round">{{"Remove Tax"|translate}}
        </ion-button>
      </ion-row>
      <ion-row>
        <ion-button size="small" (click)="addContact()" shape="round" *ngIf="contact==''">
          {{"Assign to Contact"|translate}}
        </ion-button>
        <ion-col size="8" *ngIf="contact!=''" style="padding-top: 15px; font-size: medium;">
          {{"Assign to Contact" | translate}}: <b>{{ contact }}</b>
        </ion-col>
        <ion-col size="4" *ngIf="contact!=''">
          <ion-button (click)="clearContact()" style="color: white;">{{"Remove"|translate}}
          </ion-button>
        </ion-col>
      </ion-row>
    </div> -->

    </ion-card>
    <!-- Dynamically Generate All expense from backend - see feed from prev -->
    <ion-row *ngIf="showrec==false && isReady==true && lastTransaction && showprevrec==1">
        <ion-col><b>{{"Last Receipt"|translate}}</b></ion-col>
    </ion-row>
    <ion-card id="recImg" *ngIf="showrec==false && isReady==true && lastTransaction  && showprevrec==1" class="m-0 last-rec-card">
        <ion-card-header>
            <ion-row>
                <ion-col size="3">
                    <ion-avatar>
                        <img class="img-fluid" [src]="userdata?userdata.logo_url:''" id="userLogo">
                    </ion-avatar>
                </ion-col>
                <ion-col id="userDetails">
                    <ion-row class="ion-justify-content-between">
                        <ion-col>
                            <p>{{userdata?userdata.business_name:null}}</p>
                            <small> {{userdata?userdata.business_address:null}} </small>
                        </ion-col>
                        <ion-col>
                            <ion-chip color="warning">
                                <ion-label>
                                    {{userdata?userdata.businesstype:null}}
                                </ion-label>
                            </ion-chip>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <small> {{userdata?userdata.ph_no:null}}</small>
                        </ion-col>
                        <ion-col>
                            <small> <b>{{ getDateTime(datetime) }}</b></small>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-card-header>
        <hr style="border: 1px dashed grey;">
        <ion-card-content>
            <table class="table" style="font-size: 10px;">
                <tr>
                    <th><b>{{"Name" | translate}}</b></th>
                    <th><b>{{"Price"| translate}}</b></th>
                    <th><b>{{"Qty"| translate}}</b></th>
                    <th><b>{{"Subtotal"| translate}}</b></th>
                </tr>
                <tr *ngFor="let item of lastTransaction.itemslist">
                    <td>{{item.name}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.qty}}</td>
                    <td class="text-right">{{(item.price*item.qty)| number:0}}</td>
                </tr>
                <tr>
                    <td colspan="2"><b>{{"Total"|translate}}</b></td>
                    <td colspan="2" class="text-right"><b>{{ lastTransaction.totalsum }}</b></td>
                </tr>
                <tr *ngIf="lastTransaction.totaldisc!=lastTransaction.totalsum">
                    <td colspan="2"><b>{{"Discounted Total:"|translate}} ({{lastTransaction.itemslist[0].discount}}%)</b></td>
                    <td colspan="2" class="text-right"><b>{{lastTransaction.totaldisc}}</b></td>
                </tr>
                <tr *ngIf="lastTransaction.totalsum!=lastTransaction.totalatax">
                    <td colspan="2"><b>{{"Total after tax:"|translate}} ({{lastTransaction.taxrate}}%)</b></td>
                    <td colspan="2" class="text-right"><b>{{lastTransaction.totalatax}}</b></td>
                </tr>
            </table>
        </ion-card-content>
        <!-- <ion-row style="padding-top: 5px;">
    </ion-row>
    <ion-list *ngFor="let item of lastTransaction.itemslist">
      <ion-row>
      </ion-row>
    </ion-list>
    <ion-row>
      <ion-col style="text-align: center;"></ion-col>
      <ion-col style="text-align: center;"></ion-col>
    </ion-row> -->
        <!-- <ion-row>
          <ion-col size="8">
            <b>{{"Total"|translate}}</b>
          </ion-col>
          <ion-col size="4" style="text-align: end;">
            {{ lastTransaction.totalsum }}
          </ion-col>
        </ion-row> -->
        <!-- <ion-row *ngIf="lastTransaction.totaldisc!=lastTransaction.totalsum" style="padding: 0px;text-align: left; ">
      <ion-col size="1" style="text-align: center;"></ion-col>
    </ion-row>
    <ion-row *ngIf="lastTransaction.totalsum!=lastTransaction.totalatax" style="padding: 0px; text-align: left;">
      <ion-col size="1" style="text-align: center;"></ion-col>
    </ion-row> -->
        <hr>
        <ion-row>
            <ion-col size="12" style="font-size: x-small; text-align: center; align-items: center; padding: 0%;">
                <p>{{"Created using OPEN Business app!"|translate}}</p>
            </ion-col>
            <ion-col size="12" style="font-size: x-small; text-align: center; align-items: center; padding: 0%; ">
                <p> facebook.com/openfinanceapp</p>
            </ion-col>
        </ion-row>
    </ion-card>
    <ion-row *ngIf="showrec==false && isReady==true && lastTransaction && showprevrec==1">
        <ion-col class="p-0">
            <ion-button (click)="printOldRec(lastTransaction)" fill="clear" color="dark" class="m-0">
                <ion-icon style="font-size: 16px;" slot="icon-only" class="mr-1" name="print"></ion-icon>
                <small style="color: grey;">{{'PRINT '|translate}}</small>
            </ion-button>
        </ion-col>
        <ion-col class="p-0">
            <ion-button fill="clear" (click)="recAction()" [disabled]="disableDownload" color="dark" class="m-0">
                <ion-icon style="font-size: 16px;" slot="icon-only" class="mr-1" name="download"></ion-icon>
                <small style="color: grey;">{{"Download"|translate}}</small>
            </ion-button>
        </ion-col>
        <ion-col class="p-0">
            <ion-button fill="clear" (click)="shareRec()" [disabled]="disableShare" color="dark" class="m-0">
                <ion-icon style="font-size: 16px;" slot="icon-only" class="mr-1" name="share"></ion-icon>
                <small style="color: grey;">{{"Share"|translate}}</small>
            </ion-button>
        </ion-col>
    </ion-row>
    <div *ngIf="showrec==false && isReady==true && lastTransaction && showprevrec==1" style="margin-top: 15px;">
    <h5 style="text-align: center;">Transactions Today:</h5>    
    <ion-list lines="none" *ngFor="let transac of listOfPrevTransac; let i = index">
        <ion-card>
            <ion-item (click)="expandTransac(transac)">
                <ion-icon class="mr-3" name="checkmark-circle-outline" color="success" style="font-size: 27px;"></ion-icon>
                <ion-label class="mr-6" *ngFor="let prod of transac.itemslist">
                    <p>{{prod.name}}</p>
                    <p>{{transac.updatedAt | date: 'dd/MM/yyyy'}}</p>
                </ion-label>
                <ion-label class="mr-3" style="text-align: right;">
                  {{transac.totalatax}}
                  <ion-icon class="ml-1" [hidden]="!transac.expanded" name="caret-down-outline"></ion-icon>
                  <ion-icon class="ml-1" [hidden]="transac.expanded" name="caret-up-outline"></ion-icon>
                </ion-label>
            </ion-item>

            <ion-card [hidden]="transac.expanded">
                <!-- <ion-row>
                <ion-col style="text-align: left; color: gray;">{{transac.datetime1}}</ion-col>
                <ion-col style="text-align: end;"><b>{{transac.totalatax}}</b></ion-col>
            </ion-row> -->
                <ion-list *ngFor="let item of transac.itemslist" [hidden]="transac.expanded">
                    <ion-row style="padding: 0px;">
                        <ion-col size="12"><span style="font-weight: bolder;">Name: </span> {{item.name}}</ion-col>
                        <ion-col size="12"><span style="font-weight: bolder;">Quantity: </span> {{item.qty}}</ion-col>
                        <ion-col size="12"><span style="font-weight: bolder;">Price: </span> {{item.price}}</ion-col>
                    </ion-row>
                </ion-list>
                <ion-row *ngIf="transac.totaldisc!=transac.totalsum" style="padding: 0px;text-align: left; " [hidden]="transac.expanded">
                    <ion-col>
                        {{"Discounted total:"|translate}} ({{transac.discount}}%)
                    </ion-col>
                    <ion-col size="3" style="text-align: end;">
                        {{transac.totaldisc}}
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="transac.totalsum!=transac.totalatax" style="padding: 0px; text-align: left;" [hidden]="transac.expanded">
                    <ion-col>
                        {{"Total after tax:"|translate}} ({{transac.taxrate}}%)
                    </ion-col>
                    <ion-col size="3" style="text-align: end;">
                        {{transac.totalatax}}
                    </ion-col>
                </ion-row>
                <!-- <ion-row>
                    <ion-col *ngIf="getDate(transac.datetime) == getDate(currentdatetime)">
                        <ion-button size="small" expand="full" color="magenta " (click)="delTransac(transac)">{{"Delete"|translate}}
                        </ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button size="small" expand="full" color="yellow" (click)="printRec(transac)">
                            {{'PRINT '|translate}} <br>
                            <ion-icon name="print"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row> -->
            </ion-card>
        </ion-card>
    </ion-list>
    </div>
    <!-- <ion-row class="ion-padding"></ion-row>
        <ion-row class="ion-padding"></ion-row>
        <ion-row class="ion-padding"></ion-row> -->
    <ion-row *ngIf="showrec==false">
        <!-- <ion-col>
            <ion-fab-button color="yellow" class="ml-auto" (click)="openSheet()">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-col> -->
    </ion-row>
</ion-content>

<ion-footer *ngIf="showrec==true" style="background-color: white;">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button expand="block" color="yellow" (click)="saveRec()"> {{'SAVE '|translate}} <br>
                    <ion-icon name="checkmark"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button expand="block" color="yellow" (click)="printRec()"> {{'PRINT '|translate}} <br>
                    <ion-icon name="print"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button expand="block" color="yellow" (click)="cancelRec()"> {{'CANCEL '|translate}} <br>
                    <ion-icon name="close"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
        <!-- <ion-row *ngIf="showrec!=true">
      <ion-col size="12">
        <ion-button expand="full" (click)="showOldRec()"> {{'SHOW PREVIOUS RECEIPTS '|translate}} <br>
          <ion-icon name="list-box"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row> -->
    </ion-grid>
</ion-footer>

<bottom-sheet [(State)]="BottomSheetState" (StateChange)="StateChanged($event)">
    <ion-row class="ion-justify-content-center">
        <ion-text color="magents">
            {{'Receipt Options'}}
        </ion-text>
    </ion-row>
    <div class="row m-0 py-5 option justify-content-around">
        <div class="col-4 py-3">
            <ion-fab-button color="magenta" class="m-auto" size="small" (click)="closeSheet(); addNewItembtn()">
                <ion-icon name="apps"></ion-icon>
            </ion-fab-button><br>
            <ion-text class="font-weight-bold"
                style="position: absolute; bottom: 24px; left: 0; right: 0; text-align: center; margin: auto;">
                <small> Add New Sale</small>
            </ion-text>
        </div>
        <div class="col-4 py-3">
            <ion-fab-button color="magenta" class="m-auto" size="small" (click)="closeSheet(); addNewExp()">
                <ion-icon name="exit-outline"></ion-icon>
            </ion-fab-button><br>
            <ion-text class="font-weight-bold"
                style="position: absolute; bottom: 0; left: 0; right: 0; text-align: center; margin: auto;">
                <small> Add New Expense</small>
            </ion-text>
        </div>
        <div class="col-4 py-3">
            <ion-fab-button color="magenta" class="m-auto" size="small" (click)="closeSheet(); editRecTop()">
                <ion-icon name="card-outline"></ion-icon>
            </ion-fab-button><br>
            <ion-text class="font-weight-bold"
                style="position: absolute; bottom: 0; left: 0; right: 0; text-align: center; margin: auto;">
                <small> Edit Business Card</small>
            </ion-text>
        </div>
    </div>
</bottom-sheet>