ion-col {
  ion-input {
    border: solid 1px black;
  }
}
ion-row {
  ion-textarea {
    border: solid 1px black;
  }
}
.last-rec-card {
  padding: 0;
}

#userDetails p {
  margin: 0;
  padding-bottom: 5px;
}

.option .col-4 {
  border: 1px solid var(--ion-color-magenta);
  border-radius: 15px;
  max-width: 100px;
  height: 120px;
}

.reciept-row {
  position: relative;
  .add {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -10px;
    margin: auto;
    z-index: 100;
  }
  ion-input {
    justify-content: center !important;
  }
  .remove {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -10px;
    margin: auto;
    z-index: 100;
  }
}

:host ::ng-deep ion-input.qtyInput .native-input {
  max-width: 60% !important;
  padding: 5px 0 5px 10px;
}
