ion-col {
  ion-input {
    border: solid 1px black;
  }
}
ion-row {
  ion-textarea {
    border: solid 1px black;
  }
}
.last-rec-card {
  border: solid 1px gray;
}

#userDetails p {
  margin: 0;
  padding-bottom: 5px;
}
