@media (min-width: 300px) and (min-height: 500px) {
  ion-backdrop {
    visibility: visible;
  }
}
.modal {
  position: absolute;
  overflow: hidden;
  //max-width: 450px;
  border-radius: 2px;
  border: solid 1px black;
  width: 95%;
  height: 90%;
  top: 0;
  bottom: 0%;
  left: 0;
  right: 0;
  margin: auto;
  border: 0;
  box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
  background-color: #fafafa;
}
ion-input {
  border: 1.5px solid black;
  text-align: center;
}

.directionButton {
  background-color: transparent;
  color: black;
  font-size: 30px;
}
