.pageTitle,
.description {
    margin: 12px 0 20px 10px;
}

.cashBalance {
    background: #fbdbe1;
}

#balance p {
    float: right;
    margin: 6px;
    font-weight: bold;
}

#title p {
    margin: 5px;
    font-weight: bolder;
}

#edit p {
    float: left;
    padding-left: 10px;
}

#ok p {
    float: right;
    padding-right: 10px;
}