<ion-header>
    <ion-row class="py-3">
        <ion-title>
            {{newMs}}
        </ion-title>
    </ion-row>
</ion-header>
<ion-content class="ion-padding">
    <!-- <div class="pageTitle">
        <h5>{{newMs}}</h5>
    </div>
    <hr> -->
    <div class="description">
        <p>{{newMs1}}</p>
    </div>

    <div class="cashBalance">
        <ion-row>
            <ion-col size="6" id="title">
                <p>{{newMs}}</p>
            </ion-col>
            <ion-col size="6" id="balance" *ngIf="userdata">
                <p>{{userdata.cash_balance}}</p>
            </ion-col>
        </ion-row>
    </div>

    <!-- <div class="bottomButtons">
        <ion-row>
            <ion-col size="6" id="edit" (click)="edit()">
                <p>Edit</p>
            </ion-col>
            <ion-col size="6" id="ok" (click)="DismissClick()">
                <p>Ok</p>
            </ion-col>
        </ion-row>
    </div> -->
</ion-content>

<ion-footer>
    <ion-row class="ion-justify-content-between">
        <ion-button fill="clear" color="lgrey" (click)="edit()">Edit</ion-button>
        <ion-button fill="clear" color="lgrey" (click)="DismissClick()">Ok</ion-button>
    </ion-row>
</ion-footer>