<!-- <ion-header>
  <ion-toolbar color="dark">
    
  </ion-toolbar>
</ion-header> -->

<ion-content class="">
  <ion-item class="no-border" lines="none">
    <ion-avatar slot="start">
      <img [src]="user.logo_url">
    </ion-avatar>
    <ion-label>
      {{ user.business_name }}
    </ion-label>
  </ion-item>

  <br>
  <div style="align-items: center; text-align: center; align-content: center;">
  <ion-button (click)="bCard()"  size="large" color="success">
    <ion-icon slot="icon-only" name="card-outline" class="mr-3"></ion-icon>{{ 'View Business Card' | translate }}
  </ion-button>
</div>
  <br>
  <ion-list>
    <ion-item-divider style="background-color: #DEDEDE;">
      <ion-label class="m-0">
        Basic Information
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="editProfile()" style="background-color:#ffa500;">
          <ion-icon slot="icon-only" name="create-outline" style="font-size: 30px; color: white;"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item-divider>
    <ion-row class="px-3">
      <ion-col>
        <ion-text>{{ 'Onwer Name:' }}</ion-text>
      </ion-col>
      <ion-col class="dataCol">
        <ion-text>{{ user.owner_name }}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="px-3">
      <ion-col>
        <ion-text>{{ 'Shop Name:' }}</ion-text>
      </ion-col>
      <ion-col class="dataCol">
        <ion-text>{{ user.business_name }}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="px-3">
      <ion-col>
        <ion-text>{{ 'Address:' }}</ion-text>
      </ion-col>
      <ion-col class="dataCol">
        <ion-text>{{ user.business_address }}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="px-3">
      <ion-col>
        <ion-text>{{ 'phone number:' }}</ion-text>
      </ion-col>
      <ion-col class="dataCol">
        <ion-text>{{ user.ph_no }}</ion-text>
      </ion-col>
    </ion-row>
    <ion-item-divider style="background-color: #DEDEDE;">
      <ion-label class="m-0">
        Invoices
      </ion-label>
    </ion-item-divider>
    <ion-row class="px-3">
      <ion-col>
        <ion-text>{{ 'Cash Balance:' | translate }}</ion-text>
      </ion-col>
      <ion-col class="dataCol">
        <ion-text>{{ user.cash_balance }}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="px-3">
      <ion-col>
        <ion-text>{{ 'Usual Discount %:' | translate }}</ion-text>
      </ion-col>
      <ion-col class="dataCol">
        <ion-text>{{ user.discount }}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="px-3">
      <ion-col>
        <ion-text>{{ 'Usual Tax %:' | translate }}</ion-text>
      </ion-col>
      <ion-col class="dataCol">
        <ion-text>{{ user.taxrate }}</ion-text>
      </ion-col>
    </ion-row>
    <ion-item-divider style="background-color: #DEDEDE;">
      <ion-label class="m-0">
        Other Details
      </ion-label>
    </ion-item-divider>
    <ion-row class="px-3">
      <ion-col>
        <ion-text>{{ 'Language:' | translate }}</ion-text>
      </ion-col>
      <ion-col class="dataCol">
        <ion-text>{{ language }}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="px-3">
      <ion-col>
        <ion-text>{{ "Business Type" | translate }}</ion-text>
      </ion-col>
      <ion-col class="dataCol">
        <ion-text>{{ user.businesstype }}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="px-3">
      <ion-col>
        <ion-text>{{ "Currency" | translate }}</ion-text>
      </ion-col>
      <ion-col class="dataCol">
        <ion-text>{{ user.currency}}</ion-text>
      </ion-col>
    </ion-row>

  </ion-list>
  <!-- <ion-card style="text-align: center; padding-top: 20px; padding-bottom: 15px;" button (click)="editProfile()"
    class="card">
    <ion-card-header>
      <ion-card-title>{{ user.business_name }}</ion-card-title>
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-icon name="cash"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-row class="cashRow"><b>{{ "Cash Balance" | translate}}</b> : {{ user.cash_balance }}</ion-row>
          <ion-row class="cashRow"><b>{{ 'Usual Discount %' | translate }}</b> : {{ user.discount}}</ion-row>
          <ion-row class="cashRow"><b>{{ "Usual Tax %" | translate }}</b> : {{ user.taxrate }}</ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2">
          <ion-icon name="globe"></ion-icon>
        </ion-col>
        <ion-col class="dataCol">{{ language }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2">
          <ion-icon name="pricetags"></ion-icon>
        </ion-col>
        <ion-col class="dataCol">
          <ion-row class="cashRow"><b>{{ "Business Type" | translate }}</b> : {{ user.businesstype }}</ion-row>
          <ion-row class="cashRow"><b>{{ "Currency" | translate }}</b> : {{ user.currency}}</ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card> -->
</ion-content>