ion-icon {
  size: 15px;
}
.cashRow {
  padding-bottom: 4px;
  font-size: 17px;
}
.card {
  border-radius: 25px;
  border: 2px solid black;
  background-color: #f4f4f4;
}

ion-col {
  font-size: 14px;
  text-align: left;
  &.dataCol ion-text {
    color: var(--ion-color-dark);
  }
}

ion-text {
  color: grey;
}
