<ion-content class="ion-padding">
  <!-- <ion-row>
    <ion-col size="2">
      <ion-button fill="clear" (click)=goBack() menuToggle>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-title style="line-height: 210%;">{{ "User Profile" | translate}}</ion-title>
    </ion-col>
  </ion-row> -->
  <form [formGroup]="formUser">
    <ion-list lines="none">
      <div class="form-group">
        <ion-label>{{ 'Business Name' | translate }}</ion-label>
        <ion-input class="form-control" type="text" formControlName="business_name" [(ngModel)]="user.business_name"
          (ionChange)="onChange()"></ion-input>
      </div>
      <div class="form-group">
        <ion-label>{{ 'Full Business Address' | translate }}</ion-label>
        <ion-input class="form-control" type="text" formControlName="business_address"
          [(ngModel)]="user.business_address" (ionChange)="onChange()"></ion-input>
      </div>
      <div class="form-group">
        <ion-label>{{ 'Owner' | translate }}</ion-label>
        <ion-input class="form-control" type="text" formControlName="owner_name" [(ngModel)]="user.owner_name"
          (ionChange)="onChange()">
        </ion-input>
      </div>
      <div class="form-group">
        <!-- <ion-icon name="globe" color="semi-light" class="icon"></ion-icon> -->
        <ion-label>{{"Business Type"|translate}}</ion-label>
        <ion-input class="form-control" type="text" formControlName="businesstype" [(ngModel)]="user.businesstype"
          (ionChange)="onChange()">
        </ion-input>
      </div>
      <div class="form-group">
        <ion-label>{{ 'E-mail ID' | translate }}</ion-label>
        <ion-input class="form-control" type="email" formControlName="email" [(ngModel)]="user.email"
          (ionChange)="onChange()"></ion-input>
      </div>
      <div class="form-group">
        <ion-label>{{ 'Phone Number' | translate }}</ion-label>
        <ion-input class="form-control" type="text" formControlName="ph_no" [(ngModel)]="user.ph_no"
          (ionChange)="onChange()"></ion-input>
      </div>
      <div class="form-group">
        <!-- <ion-icon name="logo-usd" color="semi-light" class="icon"></ion-icon> -->
        <ion-label>{{"Currency"|translate}}</ion-label>
        <ion-select formControlName="currency" [(ngModel)]="user.currency"
          (ionChange)="onChange()">
          <ion-select-option value="USD">USD</ion-select-option>
          <ion-select-option value="MMK">MMK</ion-select-option>
          <ion-select-option value="PHP">PHP</ion-select-option>
          <ion-select-option value="HKD">HKD</ion-select-option>
        </ion-select>
      </div>
      <div class="form-group">
        <ion-label>{{ 'Balance' | translate }}</ion-label>
        <ion-input class="form-control" type="number" formControlName="cash_balance" [(ngModel)]="user.cash_balance"
          (ionChange)="onChange()"></ion-input>
      </div>
      <div class="form-group">
        <ion-label>{{ 'Usual Discount %' | translate }}</ion-label>
        <ion-input class="form-control" type="number" formControlName="discount" [(ngModel)]="user.discount"
          (ionChange)="onChange()">
        </ion-input>
      </div>
      <div class="form-group">
        <ion-label>{{ 'Tax Rate %:' | translate }}</ion-label>
        <ion-input class="form-control" type="number" formControlName="taxrate" [(ngModel)]="user.taxrate"
          (ionChange)="onChange()">
        </ion-input>
      </div>
      <div class="form-group">
        <ion-label>{{"Language"|translate}}</ion-label>
        <ion-select formControlName="language" [(ngModel)]="user.language" (ionChange)="onChange()">
          <ion-select-option value="en">🇬🇧 English</ion-select-option>
          <ion-select-option value="my">🇲🇲 ဗမာ</ion-select-option>
        </ion-select>
      </div>
      <ion-item>
        <ion-label>Autosave Receipt</ion-label>
        <ion-toggle formControlName="autosave" (ionChange)="toggleButton()" color="dark" [checked]="user.autosave==1">
        </ion-toggle>
      </ion-item>
    </ion-list>

  </form>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [disabled]="formUser.invalid || !submitButton" expand="block" color="success" (click)="setUser()">
        {{'Update Profile'| translate}}</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block" color="danger" (click)="goBack()">
        {{'Cancel'| translate}}</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>